<section class="container">
    <h1>Data Lineage 
        <span *ngIf="columnSelected"><small>{{columnSelected.parent.DatabaseName}}</small></span>
    </h1>
    <div class="margin-top col-sm-4">
        <div class="row">
            <div class="span3">
                <div class="well">
                    <div id="lineageContainer">
                        <ul class="nav nav-list lineageSchema">
                            <li *ngFor="let schema of schemaFamilies" (click)="schemaClicked(schema.parent, $event)">
                                <label class="tree-toggle nav-header disable-user-select">
                                    <span class="icon-database margin-left-sm margin-right-sm" data-icon="&#xe964;" aria-hidden="true"></span>{{ schema.parent.SchemaName }} 
                                </label>
                                <ul class="nav nav-list tree" style="display: block">
                                    <li class="lineageSchemaTable" *ngFor="let table of schema.children" (click)="tableClicked(table.parent, $event)">
                                        <label class="tree-toggle nav-header disable-user-select">
                                            <span class="icon-table2 margin-left-sm margin-right-sm" data-icon="&#xea71;" aria-hidden="true"></span>{{ table.parent.DatabaseName }} 
                                        </label>
                                        <ul class="nav nav-list tree">
                                            <li class="lineageSchemaColumn" *ngFor="let column of table.children" (click)="columnClicked(column, $event); ">
                                                <label class="tree-toggle nav-header disable-user-select">
                                                    <span class="margin-left-sm margin-right-sm"></span>{{ column.parent.FriendlyName }} 
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <dp-target-column-tree-component #columnTree *ngIf="columnSelected" [columnSelected]="columnSelected" style="position: fixed"></dp-target-column-tree-component>
    </div>
</section>