<!-- Modal used to add a related term -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Add Related Term</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-rt-form" #addRelatedTermForm="ngForm">
                    <md-input-container class="full-width">
                        <input mdInput type="text" placeholder="Glossary" name="Glossary" required disabled [(ngModel)]="Glossary.BusinessGlossaryName">
                    </md-input-container>
                    <md-select class="full-width" placeholder="Category" name="Category" required [(ngModel)]="Category" (change)="getCategoryById(Category.Id)">
                        <md-option *ngFor="let category of Glossary.Categories" [value]="category">{{category.CategoryName}}</md-option>
                    </md-select>
                    <md-select class="full-width" placeholder="Term" name="Term" required [disabled]="Category.Id < 0" [(ngModel)]="RelatedTerm.RelatedTermChildId">
                        <md-option *ngFor="let term of (Category.Terms | exclude: ParentTerm)" [value]="term.Id">{{term.TermName}}</md-option>
                    </md-select>
                    <md-select class="full-width" placeholder="Relation Type" name="RelationType" required [(ngModel)]="RelatedTerm.RelatedTermTypeId">
                        <md-option *ngFor="let type of TermTypes" [value]="type.Id">{{type.TermType}}</md-option>
                    </md-select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveRelation(); hide();" [disabled]="!addRelatedTermForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>