<section class="container">

    <div class="row vertical-end">
        <div class="col-md-7">
            <h1>Source Systems</h1>
        </div>
        <!--<div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="filterSystemModal.clearSystem(); filterSystemModal.show();">
                Filter Source Systems
            </button>
        </div>-->
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="sourceSystemModal.clearSystem(); sourceSystemModal.setFromFolder(false); sourceSystemModal.show();">
                Add Source System
            </button>
        </div>
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="sourceSystemModal.clearSystem(); sourceSystemModal.setFromFolder(true); sourceSystemModal.show();">
                Add Source System From Files
            </button>
        </div>
    </div>

    <div class="margin-top-md">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>DB Vendor Name</th>
                    <th>DB Version</th>
                    <th>DB Host Name</th>
                    <th>DB Port</th>
                    <th>DB Detail 1</th>
                    <th>DB Detail 2</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" title="Click to go to source system page" *ngFor="let system of sourceSystems">
                    <td (click)="gotoSystem(system)">{{ system.Id }}</td>
                    <td (click)="gotoSystem(system)">{{ system.Name }}</td>
                    <td (click)="gotoSystem(system)">{{ system.DBVendorName }}</td>
                    <td (click)="gotoSystem(system)">{{ system.DBVersion }}</td>
                    <td (click)="gotoSystem(system)">{{ system.DBHostName }}</td>
                    <td (click)="gotoSystem(system)">{{ system.DBPort }}</td>
                    <td (click)="gotoSystem(system)">{{ system.DBDetail1 }}</td>
                    <td (click)="gotoSystem(system)">{{ system.DBDetail2 }}</td>
                    <td align="right">
                        <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit" (click)="sourceSystemModal.loadSystem(system); sourceSystemModal.setFromFolder(false); sourceSystemModal.show();"></button>
                    </td>
                    <td align="right">
                        <button *ngIf="system.DBHostName != null && system.DBHostName != ''" class="btn btn-default 	glyphicon glyphicon-signal" type="button" title="Test Connection" (click)="testConnection(system);"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- SOURCE SYSTEM MODAL -->
<dp-source-system-modal #sourceSystemModal (systemChange)="getSourceSystems()"></dp-source-system-modal>

<dp-filter-source-system-modal #filterSystemModal (filterChange)="getFilterSystems(filterSystemModal.systemOutput);"></dp-filter-source-system-modal>