#header_bg {
    width: 100%;
    height: 76px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(163, 163, 163, 1);
    box-shadow: 0px 1px 2px 1px rgba(163, 163, 163, 1);
    background: #404040; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#404040, #4d4d4d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#404040, #4d4d4d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#404040, #4d4d4d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#404040, #4d4d4d); /* Standard syntax */
}

#header_nav {
    width: 100%;
    height: 35px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(163, 163, 163, 1);
    box-shadow: 0px 1px 2px 1px rgba(163, 163, 163, 1);
    background: #404040; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#404040, #4d4d4d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#404040, #4d4d4d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#404040, #4d4d4d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#404040, #4d4d4d); /* Standard syntax */
}

.nav-btn{
    color: white;
}
.nav-btn:hover{
    color: #428bca;
}

#header {
    max-width: 1200px;
    margin: 0 auto;
    height: 76px;
}

#logo-container {
    height: 100%;
    display: table;
}

#logo-container .logo {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#logo-container .logo img {
}

#main-nav {
    text-align: right;
    height: 100%;
}

#main-nav ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    display: inline-block;
    height: 100%;
    width: 150px;
    text-align: center;
}

#main-nav ul li:last-child {
    display: inline-block;
    height: 100%;
    width: 150px;
    text-align: center;
}

#main-nav ul li:hover {
    background: #006AB7;
}

#main-nav ul li:hover a {
    color: white;
}

#main-nav ul li a {
    padding: 25px 0;
    display: block;
    color: #072D5B;
    font-weight: bold;
    text-decoration: none;
}
