<div id="header_bg">
    <div id="header">
        <div id="logo-container" class="col-md-6 col-xs-6 col-lg-6">
            <a href="index" class="logo" routerLink="">
            <img src="./assets/logo.png" />
        </a>
        </div>
        <div class="col-md-6 col-xs-6 col-lg-6" id="right-top-nav">
            <a *ngIf="!isLoginPage()" class="btn btn-primary" (click)="logOut()" role="button" style="float: right;margin-left: 1.5em; margin-top: 1.5em;">Log Out</a>
            <a *ngIf="!isLoginPage()" class="btn btn-primary" routerLink="" routerLinkeActive="false" role="button" style="float: right;margin-top: 1.5em;">Home</a>
        </div>
    </div>
</div>
<div id="header_nav" *ngIf="!isLoginPage()">
    <div id="header">
        <button class="btn btn-borderless nav-btn" routerLink="/source/sourcesystem" routerLinkActive="">
            <span>Source System</span>
        </button>
        <button class="btn btn-borderless nav-btn" routerLink="/schema" routerLinkActive="">
            <span>Lineage Editor</span>
        </button>
        <button class="btn btn-borderless nav-btn" routerLink="/jobhistory" routerLinkActive="">
            <span>Job History</span>
        </button>
        <button class="btn btn-borderless nav-btn" routerLink="/dataLineage" routerLinkActive="">
            <span>Data Lineage</span>
        </button>
        <button class="btn btn-borderless nav-btn" routerLink="/glossary" routerLinkActive="">
            <span>Glossary</span>
        </button>
        <button class="btn btn-borderless nav-btn" routerLink="/admin" routerLinkActive="">
            <span>Administration</span>
        </button>
    </div>
</div>


<div class="loading-bg hide">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
    <h2></h2>
    <p class="status-text"></p>
</div>