<section class="container">
    <div class="row vertical-end">
        <div class="col-md-8">
            <h1>Enterprise Data Warehouse Tables</h1>
        </div>
        <!-- Add Table Modal Button -->
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" type="button" (click)="AddTableModal.show();">Add Table</button>
        </div> 
        <!-- Add Schema Modal Button -->
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" type="button" (click)="AddSchemaModal.show();">Add Schema</button>
        </div>
    </div>

    <!-- Display Schema Table -->
    <div class="margin-top">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-lg-11">Schema Name</th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-1"></th>
                </tr>
            </thead>
            <tr class="clickable-row" *ngFor="let schema of schemas">
                <td title="Click to view schema detail" (click)="SchemaDetailModal.show(schema)">{{ schema.SchemaName }}</td>
                <td align="right">
                    <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit" (click)="EditSchemaModal.show(schema);"></button>
                </td>
                <td align="right">
                    <button class="btn btn-default glyphicon glyphicon-signal" type="button" title="Test Connection" (click)="testConnection(schema);"></button>
                </td>
                <td align="right">
                    <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" type="button" title="Delete" (click)="deleteSchema(schema)"></button>
                </td>
            </tr>
        </table>
    </div>

</section>

<!-- Modals -->
<dp-schema-detail-modal #SchemaDetailModal></dp-schema-detail-modal>

<dp-add-schema-modal #AddSchemaModal (schemaChange)="getSchemas()"></dp-add-schema-modal>

<dp-edit-schema-modal #EditSchemaModal (schemaChange)="getSchemas()"></dp-edit-schema-modal>

<dp-add-table-modal #AddTableModal></dp-add-table-modal>
