<!-- Modal used to add or edit a term -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">{{Term.Id >= 0 ? "Edit " : "Add "}}Term</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-c-form" #addTermForm="ngForm">
                    <md-input-container *ngIf="Term.Id >= 0" class="full-width">
                        <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="Term.Id">
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput type="text" placeholder="Name" name="Name" required [(ngModel)]="Term.TermName">
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput type="text" placeholder="Description" name="Description" required [(ngModel)]="Term.TermDescription">
                    </md-input-container>
                    <md-select class="full-width" [(ngModel)]="Term.TermStatus" required placeholder="Status" name="TermStatus">
                        <md-option (click)="addTermForm.form.controls.TermStatus.reset()" [value]="">Select a Status</md-option>
                        <md-option *ngFor="let status of TermStatuses" [value]="status.Id">{{status.Status}}</md-option>
                    </md-select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveTerm(); hide();" [disabled]="!addTermForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>