<!-- <div class="row">
    <div class="row col-sm-12 margin-thin-bottom">
        <div class="col-sm-2">
            <input type="number" title="Join Order" class="form-control" placeholder="Order" [(ngModel)]="cond.JoinOrder"   />
        </div>
        <div class="col-sm-3">
            <select *ngIf="cond.SourceColumn !== null" type="text" class="form-control" title="Source Column" [(ngModel)]="cond.SourceColumn.SourceColumnId" > 
          <option value="-1">Source Column</option>
          <option *ngFor="let source of sourceColumns"
                [value]="source.SourceColumnId"
                [attr.selected]="source.SourceColumnId==cond.SourceColumn.SourceColumnId ? true: null">{{source.FriendlyName1}}
            </option>
        </select>
        </div>
        <div class="col-sm-3">
            <select *ngIf="cond.SourceMasterColumn" type="text" class="form-control" title="Master Column" [(ngModel)]="cond.SourceMasterColumn.SourceColumnId" > 
                <option value="-1">Master Column</option>
                <option *ngFor="let master of masterColumns"
                    [value]="master.SourceColumnId"
                    [attr.selected]="master.SourceColumnId==cond.SourceMasterColumn.SourceColumnId ? true: null">{{master.FriendlyName1}}
                </option>
            </select>
        </div>
        <div class="col-sm-2">
            <select type="text" class="form-control" [(ngModel)]="cond.GroupingValue" title="Group Condition" >
                    <option value="null">Group Condition</option>
                    <option value="S">Start</option>
                    <option value="E">End</option>
            </select>
        </div>
        <div class="col-sm-2">
            <select type="text" class="form-control" id="{{cond.ParentConnector}}" title="Connector" [(ngModel)]="cond.ParentConnector"> 
                <option value="null">Parent Connector</option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
        </div>
    </div>
    <div class="row col-sm-12 margin-thin-bottom">
        <div class="col-sm-2">
            <select type="text" class="form-control" title="Operator Types" [(ngModel)]="cond.OperatorType.OperatorTypeId" > 
                    <option value="-1">Operator</option>
                    <option *ngFor="let operator of operatorTypes"
                            [value]="operator.Id"
                            [attr.selected]="operator.Id == cond.OperatorType.OperatorTypeId ?true: null">{{operator.OperatorTypeSymbol}}
            </select>
        </div>
        <div class="col-sm-6">
            <div>
                <input type="text" class="form-control" placeholder="Source Column Filter" [(ngModel)]="cond.SourceColumValues" />
            </div>
        </div>
        <div class="col-sm-2 text-center">
            <input type="checkbox" class="text-center" title="value is a DB Function?">
        </div>
        <div class="col-sm-2 text-center">
            <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" (click)="deleteJoinCondition()"
                title="Delete Join Condition"></button>
        </div>

    </div>
    <div class="row col-sm-12 margin-thin-bottom">
        <div class="col-sm-11">
            <hr class="hr-custom">
        </div>
    </div>
</div> -->

<form name="dp-join-condition-form" #joinConditionForm="ngForm">
    <md-input-container>
        <input mdInput type="number" [(ngModel)]="cond.JoinOrder" placeholder="Join Order" name="JoinOrder">
    </md-input-container>
    <md-select [(ngModel)]="cond.SourceColumn.SourceColumnId" [disabled]="!cond.SourceColumn" placeholder="Source Column" name="SourceColumn">
        <md-option (click)="joinConditionForm.form.controls.SourceColumn.reset()" [value]="">Select a Source Column</md-option>
        <md-option *ngFor="let source of sourceColumns" [value]="source.SourceColumnId">{{source.FriendlyName1}}</md-option>
    </md-select>
    <md-select [(ngModel)]="cond.SourceMasterColumn.SourceColumnId" [disabled]="!cond.SourceMasterColumn" placeholder="Master Column"
        name="MasterColumn">
        <md-option (click)="joinConditionForm.form.controls.MasterColumn.reset()" [value]="">Select a Master Column</md-option>
        <md-option *ngFor="let master of masterColumns" [value]="master.SourceColumnId">{{master.FriendlyName1}}</md-option>
    </md-select>
    <md-select [(ngModel)]="cond.GroupingValue" placeholder="Group Condition" name="GroupCondition">
        <md-option (click)="joinConditionForm.form.controls.GroupCondition.reset()" [value]="">Select a Group Condition</md-option>
        <md-option value="S">Start</md-option>
        <md-option value="E">End</md-option>
    </md-select>
    <md-select [(ngModel)]="cond.ParentConnector" placeholder="Connector" name="ParentConnector">
        <md-option (click)="joinConditionForm.form.controls.ParentConnector.reset()" [value]="">Select a Connector</md-option>
        <md-option value="AND">AND</md-option>
        <md-option value="OR">OR</md-option>
    </md-select>
    <md-select [(ngModel)]="cond.OperatorType.OperatorTypeId" placeholder="Operator" name="OperatorType">
        <md-option (click)="joinConditionForm.form.controls.OperatorType.reset()" [value]="">Select a Operator</md-option>
        <md-option *ngFor="let operator of operatorTypes" [value]="operator.Id">{{operator.OperatorTypeSymbol}}</md-option>
    </md-select>
    <md-input-container>
        <input mdInput type="text" [(ngModel)]="cond.SourceColumValues" placeholder="Source Column Filter" name="SourceColumnFilter">
    </md-input-container>
    <md-checkbox type="checkbox" name="DBFunction" title="Join is a datbase function?" [checked]="cond.DBFunction === 'Y'" (change)="toggleDBFunction()"></md-checkbox>
    <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" (click)="deleteJoinCondition()" title="Delete Join Condition"></button>
</form>