<!--Modal used to add or edit a target column-->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                    <h4 class="modal-title">Filter</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" (click)="clearFilter(); hide();">Clear Filter</button>
                <form name="dp-add-ss-form" #addSourceSystemForm="ngForm">
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="Name" name="name" [(ngModel)]="SourceSystem.Name">
                        </md-input-container>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Vendor Name" name="dbVendorName" [(ngModel)]="SourceSystem.DBVendorName">
                        </md-input-container>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Host Name" name="dbHostName" [(ngModel)]="SourceSystem.DBHostName">
                        </md-input-container>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveFilter(SourceSystem); hide();">Filter</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>