.category-delete-fab {
    position: absolute;
    right: 10px;
    top: 10px;
}

.category-edit-fab {
    position: absolute;
    right: 60px;
    top: 10px;
}

.category-add-fab {
    position: absolute;
    right: 110px;
    top: 10px;
}