<section class="container">
    <h1>Category
        <span class="clickable" [routerLink]="['/glossary/', ParentGlossary.Id]" title="Return to glossary page."><small>{{ParentGlossary.BusinessGlossaryName}} : </small></span>
        <small>{{Category.CategoryName}}</small>
    </h1>
    <button md-mini-fab class="category-delete-fab" color="warn" title="Delete Category" (click)="deleteCategory()" [disabled]="Category.Terms && Category.Terms.length > 0"><md-icon>delete</md-icon></button>
    <button md-mini-fab class="category-edit-fab" color="primary" title="Edit Category" (click)="categoryModal.show(ParentGlossary, Category);"><md-icon>edit</md-icon></button>
    <button md-mini-fab class="category-add-fab" color="primary" title="Add Term" (click)="termModal.show(Category);"><md-icon>add</md-icon></button>

    <md-expansion-panel #categoryDetailPanel>
        <md-expansion-panel-header>
            <md-panel-title>
                Category Details
            </md-panel-title>
        </md-expansion-panel-header>

        <form name="dp-edit-category-form" #editCategoryForm="ngForm">
            <md-input-container class="full-width">
                <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="Category.Id">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Name" name="Name" required [(ngModel)]="Category.CategoryName">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Description" name="Description" required [(ngModel)]="Category.CategoryDescription">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="UsageContext" name="UsageContext" [(ngModel)]="Category.UsageContext">
            </md-input-container>
            <md-select class="half-width" placeholder="Parent Category" name="ParentCategory" [(ngModel)]="Category.ParentCategoryId"
                [disabled]="ParentGlossary.Categories.length == 0">
                <md-option (click)="editCategoryForm.form.controls.ParentCategory.reset()" [value]="">Select a Parent Category</md-option>
                <md-option *ngFor="let category of ParentGlossary.Categories | exclude: Category" [value]="category.Id">{{category.CategoryName}}</md-option>
            </md-select>
            <button *ngIf="Category.ParentCategoryId && Category.ParentCategoryId >= 0" class="btn btn-borderless" (click)="gotoParentCategory(Category.ParentCategoryId);" title="Go to parent category page."><md-icon color="primary">arrow_forward</md-icon></button>
            <br>
            <md-input-container *ngIf="Category.CreatedUser" class="half-width">
                <input mdInput type="text" placeholder="Created User" name="CreatedUser" disabled [(ngModel)]="Category.CreatedUser.FirstName + ' ' + Category.CreatedUser.LastName">
            </md-input-container>
            <md-input-container *ngIf="Category.CreatedUser" class="half-width">
                <input mdInput type="text" placeholder="Created Date" name="CreatedDate" disabled [(ngModel)]="Category.CreatedDate">
            </md-input-container>
            <md-input-container *ngIf="Category.UpdatedUser" class="half-width">
                <input mdInput type="text" placeholder="Updated User" name="UpdatedUser" disabled [(ngModel)]="Category.UpdatedUser.FirstName + ' ' + Category.UpdatedUser.LastName">
            </md-input-container>
            <md-input-container *ngIf="Category.UpdatedUser" class="half-width">
                <input mdInput type="text" placeholder="Updated Date" name="UpdatedDate" disabled [(ngModel)]="Category.UpdatedDate">
            </md-input-container>
        </form>

        <md-action-row>
            <button class="btn btn-primary" (click)="saveCategory();" [disabled]="!editCategoryForm.form.valid">Save</button>
            <button class="btn btn-default" (click)="categoryDetailPanel.close()">Close</button>
        </md-action-row>
    </md-expansion-panel>

    <div class="margin-top-md">
        <table datatable [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Definition</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let term of Category.Terms" [routerLink]="['/glossary/term/', term.Id]" class="clickable" title="Click to go to term">
                    <td>{{term.TermName}}</td>
                    <td>{{term.TermDescription}}</td>
                    <td>{{term.UpdatedDate | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- TERM MODAL -->
<dp-term-modal #termModal (termChange)="getCategory()"></dp-term-modal>

<!-- CATEGORY MODAL -->
<dp-category-modal #categoryModal (categoryChange)="getCategory()"></dp-category-modal>