<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<section class="container">
    <h1>Enterprise Data Warehouse <small>Job History</small></h1>
    <div style="width: 100%;">
        <md-input-container>
            <input mdInput [mdDatepicker]="startDatePicker" placeholder="Start Date" [ngModel]="startDate" (ngModelChange)="setStartDate($event)">
            <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
            <md-datepicker #startDatePicker></md-datepicker>
        </md-input-container>
        <md-input-container>
            <input mdInput [mdDatepicker]="endDatePicker" placeholder="End Date" [ngModel]="endDate" (ngModelChange)="setEndDate($event)">
            <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
            <md-datepicker #endDatePicker></md-datepicker>
        </md-input-container>
        <button class="btn btn-default" (click)="filterByDate();" [disabled]="(!startDate || !endDate) || startDate >= endDate">Filter Run Date</button>
        <button class="btn btn-default" (click)="resetDateFilter();">Reset</button>
    </div>
    <br>
    <div class="margin-top-md">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead class="parent table">
                <tr>
                    <th class="col-md-4">Job Name</th>
                    <th class="col-sm-3">Last Process Date</th>
                    <th class="col-sm-3">Last Run Date</th>
                    <th class="col-xs-1">Full Update</th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs">
                    <td class="clickable-row" title="Click for job history details" (click)="JobEditor.show(job);">
                        {{job.TargetTable}}
                    </td>
                    <td class="clickable-row" title="{{job.LastProcessDateTime | date: 'medium'}}" (click)="JobEditor.show(job);">
                        {{job.LastProcessDateTime | date: 'y-MM-dd'}}
                    </td>
                    <td class="clickable-row" title="{{job.LastRunDate | date: 'medium'}}" (click)="JobEditor.show(job);">
                        {{job.LastRunDate | date: 'y-MM-dd'}}
                    </td>
                    <td>{{job.isNextLoadFull}}</td>
                    <td align="right">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-repeat"></span>Repeat
                        </button>
                    </td>
                    <td align="right">
                        <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit" (click)="JobEditor.show(job);"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>

<dp-job-editor-modal #JobEditor></dp-job-editor-modal>