<section class="container">
    <div class="row vertical-end">
        <div class="col-md-10">
            <h1>Users</h1>
        </div>
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="addUserModal.clearUser(); addUserModal.loadRoles(roles); addUserModal.show();">Add User</button>
        </div>
    </div>

    <div class="margin-top">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-4">Full Name</th>
                    <th class="col-lg-5">UserName</th>
                    <th class="col-md-4">Role</th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-1"></th>
                </tr>
            </thead>
            <tr *ngFor="let user of users">
                <td>{{ user.FirstName }} {{ user.LastName }}</td>
                <td>{{ user.Username }}</td>
                <td>{{ user.rolesString }}</td>
                <td align="right">
                    <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit user" (click)="addUserModal.loadUser(user); addUserModal.loadRoles(roles); addUserModal.show();"></button>
                </td>
                <td align="right">
                    <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" type="button" title="Delete user" (click)="deleteUser(user)"></button>
                </td>
            </tr>
        </table>
    </div>
</section>

<dp-add-user-modal #addUserModal (userChange)="usersChanged()"></dp-add-user-modal>