<h1 md-dialog-title>Upload a System Source</h1>
<div md-dialog-content>
    <div class="row">
        <form id="choose-file-form" name="choose-file-form" #chooseFileForm="ngForm">
            <input id="fileFormInput" style="margin-bottom: 15px" type="file" multiple="false" placeholder="File Path" name="filePath" required 
                (change)="fileUploaded($event)">
        </form>
    </div>
</div>
<div md-dialog-actions style="justify-content: end">
    <button md-raised-button [md-dialog-close]="curFile" [disabled]="!chooseFileForm.form.valid" color="primary">Continue</button>
    <button md-button md-dialog-close>Cancel</button>
</div>