<!-- Modal used to import source tables from a schema -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Import Source Tables from Source System</h4>
            </div>

            <div class="modal-body">
                <form name="dp-import-schema-form" #importSchemaForm="ngForm">
                    <md-select class="half-width margin-bottom" placeholder="System Id" name="SourceSystem" [(ngModel)]="sourceImport.systemId" (change)="updateTables(sourceImport.systemId)">
                        <md-option (click)="importSchemaForm.form.controls.SourceSystem.reset()" [value]="">Select a Source System</md-option>
                        <md-option *ngFor="let system of sourceSystems" value="{{system.Id}}">{{system.Name}}</md-option>
                    </md-select>
                </form>
                <div class="form-horizontal">
                    <table datatable dt-instance="dtInstance" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
                        <md-checkbox class="half-width" type="checkbox" [(ngModel)]="selectAllButton" (change)="selectAll()">Select All</md-checkbox>
                        <thead>
                            <tr>
                                <th>Tables from Source System</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let table of sourceImport.stringTables">
                                <td><md-checkbox class="half-width" type="checkbox" [(ngModel)]="table.value" (change)="select(table)">{{table.key}}</md-checkbox></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveTables(); hide();" [disabled]="!checked">Import</button>
                <button class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>