<!--Modal used to add or edit a target column-->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Add Target Column</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-tc-form" #addTargetColumnForm="ngForm">
                    <md-input-container class="half-width" *ngIf="targetColumn.Id >= 0">
                        <input mdInput type="number" placeholder="Target Column Id" name="columnId" required disabled [(ngModel)]="targetColumn.Id">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="number" placeholder="Target Table Id" name="tableId" required disabled [(ngModel)]="targetColumn.EDWTableId">
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Database Name" name="dbName" required [(ngModel)]="targetColumn.DatabaseName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Friendly Name" name="FriendlyName" required [(ngModel)]="targetColumn.FriendlyName">
                    </md-input-container>
                    <br>
                    <md-select class="half-width" placeholder="Base Data Type" name="BaseDataType" required [(ngModel)]="targetColumn.BaseDataType"
                        (change)="targetColumn = generateFullDataType(targetColumn)">
                        <md-option *ngFor="let dataType of dataTypes" [value]="dataType.Name">{{dataType.Name}}</md-option>
                    </md-select>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Full Data Type" name="FullDataType" disabled [(ngModel)]="targetColumn.FullDataType">
                    </md-input-container>
                    <div *ngIf="targetColumn.BaseDataType && targetColumn.BaseDataType != 'DATE'">
                        <div *ngIf="targetColumn.BaseDataType.includes('CHAR'); then charForm else numForm"></div>
                        <ng-template #charForm>
                            <md-input-container class="half-width">
                                <input mdInput type="text" placeholder="Char Type" name="CharType" maxlength="1" [(ngModel)]="targetColumn.CharType" (change)="targetColumn = generateFullDataType(targetColumn)">
                            </md-input-container>
                            <md-input-container class="half-width">
                                <input mdInput type="number" placeholder="Data Length" name="DataLength" [(ngModel)]="targetColumn.DataLength" (change)="targetColumn = generateFullDataType(targetColumn)">
                            </md-input-container>
                        </ng-template>
                        <ng-template #numForm>
                            <md-input-container class="half-width">
                                <input mdInput type="number" placeholder="Precision" name="Precision" [(ngModel)]="targetColumn.Precision" (change)="targetColumn = generateFullDataType(targetColumn)">
                            </md-input-container>
                            <md-input-container class="half-width">
                                <input mdInput type="number" placeholder="Scale" name="Scale" [(ngModel)]="targetColumn.Scale" (change)="targetColumn = generateFullDataType(targetColumn)">
                            </md-input-container>
                        </ng-template>
                    </div>
                    <md-checkbox class="third-width" type="checkbox" name="nullableFlag" [(ngModel)]="targetColumn.IsNullable">
                        Nullable
                    </md-checkbox>
                    <md-checkbox class="third-width" type="checkbox" name="primaryKey" [(ngModel)]="targetColumn.IsPrimaryKey">
                        Primary Key
                    </md-checkbox>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveTargetColumn(); hide();" [disabled]="!addTargetColumnForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>