<!-- Modal used to add or edit a glossary -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">{{Glossary.Id >= 0 ? "Edit " : "Add "}}Glossary</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-g-form" #addGlossaryForm="ngForm">
                    <md-input-container *ngIf="Glossary.Id >= 0" class="full-width">
                        <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="Glossary.Id">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Name" name="Name" required [(ngModel)]="Glossary.BusinessGlossaryName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Description" name="Description" required [(ngModel)]="Glossary.BusinessGlossaryDescription">
                    </md-input-container>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveGlossary(Glossary); hide();" [disabled]="!addGlossaryForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>