<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <div *ngIf="!masterTable; else masterTableTitle">
                    <h4 class="modal-title">Select a Source Master Table</h4>
                </div>
                <ng-template #masterTableTitle>
                    <h4 class="modal-title">Source Table Joins <small>{{masterTable.FriendlyName}}</small></h4>
                </ng-template>
            </div>

            <div class="modal-body">
                <div *ngIf="!masterTable; else sourceTableSelect">
                    <md-select class="half-width" placeholder="Master Table" [(ngModel)]="tempMasterTable" (change)="saveTableLineage(tempMasterTable)">
                        <md-option *ngFor="let tableLineage of tableLineages" [value]="tableLineage.TableLineage">{{tableLineage.SourceTable.FriendlyName}}</md-option>
                    </md-select>
                </div>
                <ng-template #sourceTableSelect>
                    <md-select class="half-width" placeholder="Source Table" [(ngModel)]="SourceTableId" (change)="saveTableLineageBySource(SourceTableId)">
                        <md-option *ngFor="let sourcetable of filteredSourceTables" [value]="sourcetable.Id">{{sourcetable.FriendlyName}}</md-option>
                    </md-select>
                </ng-template>
                <!-- <md-select *ngIf="masterTable" class="third-width" placeholder="Source Table" [(ngModel)]="SourceTableId">
                    <md-option *ngFor="let sourcetable of sourceTables" [value]="sourcetable.Id">{{sourcetable.FriendlyName}}</md-option>
                </md-select>
                <br>
                <div *ngIf="sourceTableJoins.length == 0 && !masterTable">
                    <md-select class="half-width" placeholder="Master Table" [(ngModel)]="tempMasterTable">
                        <md-option *ngFor="let tableLineage of tableLineages" [value]="tableLineage.TableLineage">{{tableLineage.SourceTable.FriendlyName}}</md-option>
                    </md-select>
                </div> -->
                <!-- <table *ngIf="sourceTableJoins.length > 0" class="table table-condensed table-hover margin-top">
                    <tr *ngFor="let join of sourceTableJoins">
                        <dp-sourcetablejoin [join]="join" [masterColumns]="masterTable.SourceColumns" [operatorTypes]="operatorTypes" [systemId]="systemId"
                            [tableId]="tableId" (refreshJoins)="getSourceTableJoins()"></dp-sourcetablejoin>
                    </tr>
                </table> -->
                <br>
                <div *ngIf="sourceTableJoins && sourceTableJoins.length > 0">
                    <dp-sourcetablejoin *ngFor="let join of sourceTableJoins" [join]="join" [masterColumns]="masterTable.SourceColumns" [operatorTypes]="operatorTypes"
                        [systemId]="systemId" [tableId]="tableId" (refreshJoins)="getSourceTableJoins()"></dp-sourcetablejoin>
                </div>
            </div>

            <div class="modal-footer">
                <button *ngIf="masterTable" class="btn btn-primary" [disabled]="!SourceTableId" (click)="saveTableLineageBySource(SourceTableId)">Save</button>
                <button *ngIf="!masterTable" class="btn btn-primary" [disabled]="!tempMasterTable" (click)="saveTableLineage(tempMasterTable)">Save</button>
                <button class="btn btn-default" (click)="hide();">Close</button>
            </div>
        </div>
    </div>
</div>