<!-- <td class="col-sm-3">
    <div class="row margin-thin-bottom">
        <div class="col-sm-12" style="height: 34px;">
            <div class="col-sm-4">Source Table:</div>
            <div class="col-sm-8 input-group">
                <span>{{ join.SourceTable.DatabaseName }} - {{ join.SourceTable.FriendlyName }}</span>
            </div>
        </div>
    </div>
    <div class="row margin-thin-bottom">
        <div class="col-sm-12">
            <div class="col-sm-4"> Join Alias:</div>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" [(ngModel)]="join.JoinAlias" placeholder="Join Alias" />
            </div>
        </div>
    </div>
    <div class="row margin-thin-bottom">
        <div class="col-sm-12">
            <div class="col-sm-4">Join Type:</div>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" [(ngModel)]="join.JoinType" placeholder="Join Type" />
            </div>
        </div>
    </div>
</td>
<td class="col-sm-9">
    <div class="clearfix">
        <div *ngFor="let condition of join.SourceTableJoinConditions">
            <dp-sourcetablejoincondition [cond]="condition" (condDeleted)="onCondDelete(condition)" [masterColumns]="masterColumns" [sourceColumns]="join.SourceTable.SourceColumns"
                [operatorTypes]="operatorTypes"></dp-sourcetablejoincondition>
        </div>
        <div class="clearfix">
            <div class="row margin-thin-bottom">
                <div class="col-sm-2 ">
                    <button class="btn btn-primary " (click)="loadNewJoinCondition()" title="Add Join Condition">Add Join Condition</button>
                </div>
                <div class="col-sm-2 ">
                    <button class="btn btn-primary " title="Save Join Conditions" (click)="saveSourceTableJoin()">Save Join</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" title="Create New Join Alias" (click)="createJoinAlias()">Create New Alias</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger " title="Delete Join" (click)="deleteJoinAlias()">Delete Join</button>
                </div>
            </div>
        </div>
    </div>
</td> -->
<md-input-container class="third-width">
    <input mdInput type="text" [(ngModel)]="join.SourceTable.FriendlyName" disabled placeholder="Source Table" name="SourceTable">
</md-input-container>
<md-input-container class="third-width">
    <input mdInput type="text" [(ngModel)]="join.JoinAlias" placeholder="Join Alias" name="JoinAlias">
</md-input-container>
<md-input-container class="third-width">
    <input mdInput type="text" [(ngModel)]="join.JoinType" placeholder="Join Type" name="JoinType">
</md-input-container>

<div *ngFor="let condition of join.SourceTableJoinConditions" style="padding: 10px">
    <dp-sourcetablejoincondition [cond]="condition" (condDeleted)="onCondDelete(condition)" [masterColumns]="masterColumns" [sourceColumns]="join.SourceTable.SourceColumns"
        [operatorTypes]="operatorTypes"></dp-sourcetablejoincondition>
</div>

<br>

<div style="text-align:right">
    <button class="btn btn-primary" title="Add Join Condition" (click)="loadNewJoinCondition()">Add Join Condition</button>
    <button class="btn btn-primary" title="Save Join Conditions" (click)="saveSourceTableJoin()">Save Join</button>
    <button class="btn btn-primary" title="Create New Join Alias" (click)="createJoinAlias()">Create New Alias</button>
    <button class="btn btn-danger" title="Delete Join" (click)="deleteJoinAlias()">Delete Join</button>
</div>

<hr>