<!-- Modal used to add a schema -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div id="addSchemaModal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Add Schema</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-schema-form" #addSchemaForm="ngForm">
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Schema Name" name="SchemaName" required [(ngModel)]="Schema.SchemaName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Login User Name" name="LoginUserName" required [(ngModel)]="Schema.LoginUserName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Login User Password" name="LoginUserPassword" required [(ngModel)]="Schema.LoginUserPassword">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="DB Host Name" name="DBHostName" [(ngModel)]="Schema.DBHostName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="DB Provider" name="DBProvider" [(ngModel)]="Schema.DBProvider">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="DB Type" name="DBType" [(ngModel)]="Schema.DBType">
                    </md-input-container>
                    <md-select class="full-width" placeholder="Choose tables to associate with" name="TablesChosen" multiple [(ngModel)]="TablesChosen">
                        <md-option *ngFor="let table of Tables" [value]="table">{{table.DatabaseName}}</md-option>
                    </md-select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveSchema(Schema, TablesChosen); hide();" [disabled]="!addSchemaForm.form.valid">Save</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>