<!-- Modal used to add or edit a user -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <div *ngIf="User.Id; then editTitle else addTitle"></div>
                <ng-template #addTitle>
                    <h4 class="modal-title">Add User</h4>
                </ng-template>
                <ng-template #editTitle>
                    <h4 class="modal-title">Edit User</h4>
                </ng-template>
            </div>
            <div class="modal-body">
                <form name="dp-add-usr-form" #addUserForm="ngForm">
                    <md-input-container *ngIf="User.Id" class="full-width">
                        <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="User.Id">
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="First Name" name="FirstName" required [(ngModel)]="User.FirstName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Last Name" name="LastName" required [(ngModel)]="User.LastName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Username" name="Username" required [(ngModel)]="User.Username">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="password" placeholder="Password" name="Password" required [(ngModel)]="User.Password">
                    </md-input-container>
                    <br>
                    <md-checkbox class="third-width" *ngFor="let role of roles" type="checkbox" name="" [checked]="roleExists(role)" (change)="roleChose(role)">
                        {{ role.RoleName }}
                    </md-checkbox>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" [disabled]="!addUserForm.form.valid" (click)="saveUser(User); hide();">Save</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>