<!-- Modal used to add or edit a source column -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <div *ngIf="SourceColumn.Id >= 0; then editTitle else addTitle"></div>
                <ng-template #addTitle>
                    <h4 class="modal-title">Add Source Column</h4>
                </ng-template>
                <ng-template #editTitle>
                    <h4 class="modal-title">Edit Source Column</h4>
                </ng-template>
            </div>
            <div class="modal-body">
                <form name="dp-add-sc-form" #addSourceColumnForm="ngForm">
                    <md-input-container class="half-width" *ngIf="SourceColumn.Id >= 0">
                        <input mdInput type="number" placeholder="Id" name="id" required [(ngModel)]="SourceColumn.Id" disabled>
                    </md-input-container>
                    <md-input-container class="half-width" *ngIf="SourceColumn.SourceTableId >= 0">
                        <input mdInput type="number" placeholder="Source Table Id" name="stId" required [(ngModel)]="SourceColumn.SourceTableId"
                            disabled>
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input id="nameFormInput" mdInput type="text" placeholder="Database Name" name="dbName" required [(ngModel)]="SourceColumn.DatabaseName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="number" placeholder="Order" name="order" required [(ngModel)]="SourceColumn.Order">
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Friendly Name 1" name="friendlyName1" required [(ngModel)]="SourceColumn.FriendlyName1"
                            (change)="SourceColumn.FriendlyName1Conv = uglifyString(SourceColumn.FriendlyName1)">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Friendly Name 1 Conv" name="friendlyName1Conv" required [(ngModel)]="SourceColumn.FriendlyName1Conv"
                            disabled>
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Friendly Name 2" name="friendlyName2" [(ngModel)]="SourceColumn.FriendlyName2" (change)="SourceColumn.FriendlyName2Conv = uglifyString(SourceColumn.FriendlyName2)">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Friendly Name 2 Conv" name="friendlyName2Conv" [(ngModel)]="SourceColumn.FriendlyName2Conv"
                            disabled>
                    </md-input-container>
                    <br>
                    <md-select class="third-width" placeholder="Base Data Type" name="BaseDataType" [(ngModel)]="SourceColumn.BaseDataType" (change)="SourceColumn = baseDataTypeFilled(SourceColumn)">
                        <md-option (click)="addSourceColumnForm.form.controls.BaseDataType.reset()" [value]="">Select a Base Data Type</md-option>
                        <md-option *ngFor="let dataType of dataTypes" [value]="dataType.Name">{{dataType.Name}}</md-option>
                    </md-select>
                    <md-input-container class="third-width">
                        <input mdInput type="text" placeholder="Full Data Type" name="fullDataType" [(ngModel)]="SourceColumn.FullDataType">
                    </md-input-container>
                    <md-input-container class="third-width">
                        <input mdInput type="text" placeholder="Char Type" name="charType" [(ngModel)]="SourceColumn.charType" [disabled]="!SourceColumn.BaseDataType || SourceColumn.BaseDataType == 'DATE'">
                    </md-input-container>
                    <br>
                    <md-input-container class="third-width">
                        <input mdInput type="number" placeholder="Precision" name="precision" [(ngModel)]="SourceColumn.Precision" [disabled]="!SourceColumn.BaseDataType || SourceColumn.BaseDataType == 'DATE'"
                            (change)="scaleOrPrecisionFilled(SourceColumn)">
                    </md-input-container>
                    <md-input-container class="third-width">
                        <input mdInput type="number" placeholder="Scale" name="scale" [(ngModel)]="SourceColumn.Scale" [disabled]="!SourceColumn.BaseDataType || SourceColumn.BaseDataType == 'DATE'"
                            (change)="scaleOrPrecisionFilled(SourceColumn)">
                    </md-input-container>
                    <md-checkbox class="third-width" id="nullableFormInput" type="checkbox" name="nullableFlag" [checked]="SourceColumn.NullableFlag == 'Y'"
                        (change)="toggleNullable()">
                        Nullable
                    </md-checkbox>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="hide(); saveColumn(SourceColumn);" [disabled]="!addSourceColumnForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>