<section class="container">
    <div class="row margin-top">
        <div class="col-sm-4 col-sm-offset-4">
            <h2 class="">Sign In</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class=""></div>
            <form name='loginForm'>
                <div class="form-group">
                    <div class="">
                        <label class="" for="Username">Username</label>
                        <input class="form-control" type="email" name='Username' [(ngModel)]='loginForm.Username' id="Username" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label class="" for="Password">Password</label>
                        <input class="form-control" type="password" name='Password' [(ngModel)]='loginForm.Password' id="Password" required>
                        <!--ng-change="ResetField(loginForm.Password, 'edw_invalid')"-->
                    </div>
                </div>
                <div class="form-group center_align ">
                    <button type="submit" [disabled]='!loginValid()' (click)="tryLogin()" class="btn btn-primary">
                        Login 
                    </button>
                </div>
            </form>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
</section>