<!-- Modal used to add or edit a category -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">{{Category.Id >= 0 ? "Edit " : "Add "}}Category</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-c-form" #addCategoryForm="ngForm">
                    <md-input-container *ngIf="Category.Id >= 0" class="full-width">
                        <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="Category.Id">
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput type="text" placeholder="Name" name="Name" required [(ngModel)]="Category.CategoryName">
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput type="text" placeholder="Description" name="Description" required [(ngModel)]="Category.CategoryDescription">
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput type="text" placeholder="Usage Context" name="UsageContext" [(ngModel)]="Category.UsageContext">
                    </md-input-container>
                    <md-select class="full-width" placeholder="Parent Category" name="ParentCategory" [(ngModel)]="Category.ParentCategoryId" [disabled]="ParentGlossary.Categories.length == 0">
                        <md-option (click)="addCategoryForm.form.controls.ParentCategory.reset()" [value]="">Select a Parent Category</md-option>
                        <md-option *ngFor="let category of ParentGlossary.Categories | exclude: Category" [value]="category.Id">{{category.CategoryName}}</md-option>
                    </md-select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveCategory(Category); hide();" [disabled]="!addCategoryForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>