<section class="container">
    <div class="row vertical-end">
        <div class="col-md-10">
            <h1>Generated Jobs</h1>
        </div>
    </div>
    <button class="btn btn-default glyphicon glyphicon-refresh" type="button" title="Refresh Page" (click)="getGeneratedJobs()"></button>
    <div class="margin-top">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!--<th class="col-md-4">Name</th>-->
                    <th class="col-lg-5">Package Name</th>
                    <th class="col-md-4">Time Stamp</th>
                    <th class="col-xs-1">Download</th>
                </tr>
            </thead>
            <tr *ngFor="let job of generatedJobs">
                <!--<td>{{ job.name }}</td>-->
                <td>{{ job.PackageName }}</td>
                <td>{{ job.TimeStamp | date: 'medium' }}</td>
                <td align="right">
                    <button class="btn btn-default glyphicon glyphicon-download-alt" type="button" title="Download Link" (click)="downloadLink(job)"></button>
                </td>
            </tr>
        </table>
    </div>
</section>