<div id="JoinAlias" class="tab-pane fade in active container mappingContainer col-sm-12">
    <div *ngIf="sourceTableJoins.length == 0; else joinTable" class="horizontal-center">
        No Joins Available
    </div>
    <ng-template #joinTable>
        <table class="table table-striped table-hover" *ngIf="sourceTableJoins.length > 0">
            <!-- <thead>
                <tr>
                    <th class="text-center text-uppercase">Select Source Table Join</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let join of sourceTableJoins" (click)="toggleJoinDetails(join)">
                    <td>
                        <div class="row">
                            <div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2 font-weight-bold">
                                    <span [ngStyle]="{'glyphicon-plus': !join.show, 'glyphicon-minus': join.show}"></span>
                                </div>
                                <div class="col-sm-3">{{join.JoinAlias}}</div>
                                <div class="col-sm-3">{{join.JoinType}}</div>
                                <div class="col-sm-2"><button class="btn btn-primary standardWidth" (click)="selectColumnLineageJoin(join)">
                                                                    <span *ngIf="columnLineage.SourceTableAlias != join.Id">Select This Join</span>
                                                                    <span *ngIf="columnLineage.SourceTableAlias == join.Id">Selected</span></button></div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-12">
                                    <table *ngIf="join.show" class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Join Order
                                                </th>
                                                <th>
                                                    Source Column
                                                </th>
                                                <th>
                                                    Source Master Column
                                                </th>
                                                <th>
                                                    GroupingValue
                                                </th>
                                                <th>
                                                    ParentConnector
                                                </th>
                                                <th>
                                                    OperatorType
                                                </th>
                                                <th>
                                                    Source Column Filter
                                                </th>
                                                <th>
                                                    DBFunction
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor=" let joincond of join.SourceTableJoinConditions">
                                                <td>{{joincond.JoinOrder}}</td>
                                                <td>
                                                    {{joincond.SourceColumn.FriendlyName1}}
                                                </td>
                                                <td>
                                                    {{joincond.SourceMasterColumn.FriendlyName1}}
                                                </td>
                                                <td>
                                                    {{joincond.GroupingValue}}
                                                </td>
                                                <td>
                                                    {{joincond.ParentConnector}}
                                                </td>
                                                <td>
                                                    {{joincond.OperatorType.OperatorTypeSymbol}}
                                                </td>
                                                <td>
                                                    {{joincond.SourceColumValues}}
                                                </td>
                                                <td>
                                                    {{joincond.DBFunction}}
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>

</div>