<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Source Systems</h3>
        </div>
        <div class="panel-body fixed-height">
            <div class="row cleartext">
                <div class="col-sm-4 margin-bottom" *ngFor="let sourceSystem of sourceSystems">
                    <button class="btn btn-primary btn-block" [ngClass]="{ 'btn-info': selectedSystem.Id === sourceSystem.Id }" 
                    (click)="selectSystem(sourceSystem)">{{ sourceSystem.Name }}</button>
                </div>
            </div>
        </div>
    </div>
</div>