<!-- Modal used to add a target column link -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Add Target Column Link</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-link-form" #addTargetColumnLinkForm="ngForm">
                    <md-select class="full-width" [(ngModel)]="Target.schema.SchemaName" (change)="getTargetTable(Target.schema.SchemaName)"
                        required placeholder="Schema" name="Schema">
                        <md-option *ngFor="let schema of Schemas" [value]="schema.SchemaName">{{schema.SchemaName}}</md-option>
                    </md-select>
                    <md-select class="full-width" [(ngModel)]="Target.targetTable.Id" (change)="getTargetColumn(Target.targetTable.Id);" [disabled]="!Target.schema.SchemaName"
                        required placeholder="Target Table" name="TargetTable">
                        <md-option *ngFor="let table of Tables" [value]="table.Id">{{table.DatabaseName}}</md-option>
                    </md-select>
                    <md-select class="full-width" [(ngModel)]="Target.targetColumn.Id" [disabled]="Target.targetTable.Id < 0" required placeholder="Target Column"
                        name="TargetColumn">
                        <md-option *ngFor="let column of Columns" [value]="column.Id">{{column.DatabaseName}}</md-option>
                    </md-select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveLink(); hide();" [disabled]="Target.targetColumn.Id < 0 || !addTargetColumnLinkForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>