<!--Modal used to add or edit a target column-->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Import Source Tables</h4>
            </div>
            <div class="modal-body">
                <!-- <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
                                <input type="checkbox" name="tables" value="SourceTable.Id" (click)="selectAll();" [(ngModel)]="selectAllButton">Select All
                                <thead>
                                    <tr>
                                        <th>Tables from Schema</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let schema of sourceImport.SchemaTables">
                                        <td>
                                            <input type="checkbox" name="tables" value="schema.key" (click)="select(schema);" [(ngModel)]="schema.value">                                            {{schema.key}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" (click)="saveTables(); hide();"><small>Import</small></button>
                        </div>
                    </div>
                </div> -->
                <form name="dp-import-st-form" #importSourceTableForm="ngForm">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
                        <md-checkbox type="checkbox" name="selectAllButton" [(ngModel)]="selectAllButton" (change)="selectAll();">Select All</md-checkbox>
                        <thead>
                            <tr>
                                <th>Tables from Schema</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schema of sourceImport.SchemaTables">
                                <td>
                                    <md-checkbox type="checkbox" name="selectButton" [(ngModel)]="schema.value">{{schema.key}}</md-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveTables(); hide();" [disabled]="!checkIfAnyChecked()">Import</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>