<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()">&times;</button>
                <h4 class="modal-title">Source Column Property Editor: {{columnLineage.SourceColumn.FriendlyName1}}</h4>
            </div>
            <div class="modal-body">
                <md-tab-group *ngIf="visible" (selectChange)="setTitle($event.tab.textLabel);">
                    <md-tab label="Join">
                        <dp-join-alias-selector class="container" [columnLineage]="columnLineage" [systemId]="systemId" [tableId]="tableId"></dp-join-alias-selector>
                    </md-tab>
                    <md-tab label="Properties">
                        <dp-column-lineage-properties class="container" [columnLineage]="columnLineage"></dp-column-lineage-properties>
                    </md-tab>
                    <md-tab label="Filter">
                        <dp-filter-editor class="container" [columnLineage]="columnLineage"></dp-filter-editor>
                    </md-tab>
                    <md-tab label="Transformation">
                        <dp-transformation-editor class="container" [columnLineage]="columnLineage" [systemId]="systemId" [tableId]="tableId" (transformationChange)="loadTransformation($event.transformation)"></dp-transformation-editor>
                    </md-tab>
                    <md-tab label="Calculation">
                        <dp-calculation-editor class="container" [columnLineage]="columnLineage" [systemId]="systemId" [tableId]="tableId" (calcChange)="loadCalculation($event.calculation)"></dp-calculation-editor>
                    </md-tab>
                    <md-tab label="Summary">
                        <dp-summary-selector class="container" [columnLineage]="columnLineage"></dp-summary-selector>
                    </md-tab>
                </md-tab-group>
            </div>
            <div class="modal-footer">
                <button type="buttom" class="btn btn-primary" [disabled]="!valid" (click)="saveColumnLineage(); hide();">Save</button>
                <button type="button" class="btn btn-default" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>