<form name="dp-edit-lineage-row-form" #editLineageRowForm="ngForm">
    <md-input-container class="source-select-width">
        <input mdInput [(ngModel)]="columnLineage.SourceTable" type="text" placeholder="Source Table" name="SourceTable" (keydown)="inputSourceTable($event)"
            [formControl]="sourceTablesControl" [mdAutocomplete]="autoSourceTable">
        <md-autocomplete #autoSourceTable="mdAutocomplete" [displayWith]="displaySourceTable">
            <md-option (click)="resetSourceTable()" [value]="">Select a Source Table</md-option>
            <md-option *ngFor="let sourceTable of filteredSourceTables | async" [value]="sourceTable" (onSelectionChange)="selectSourceTable(sourceTable)">
                {{sourceTable.FriendlyName}}
            </md-option>
        </md-autocomplete>
    </md-input-container>
    <md-input-container class="source-select-width">
        <input mdInput [(ngModel)]="columnLineage.SourceColumn" type="text" placeholder="Source Column" name="SourceColumn" (keydown)="inputSourceColumn($event)"
            [formControl]="sourceColumnsControl" [mdAutocomplete]="autoSourceColumn">
        <md-autocomplete #autoSourceColumn="mdAutocomplete" [displayWith]="displaySourceColumn">
            <md-option (click)="resetSourceColumn()" [value]="">Select a Source Column</md-option>
            <md-option *ngFor="let sourceColumn of filteredSourceColumns | async" [value]="sourceColumn" (onSelectionChange)="selectSourceColumn(sourceColumn)">
                {{sourceColumn.FriendlyName1}}
            </md-option>
        </md-autocomplete>
    </md-input-container>
    <!-- <md-input-container style="padding: 10px;">
        <input mdInput type="number" placeholder="Order" name="Order" [(ngModel)]="columnLineage.Order">
    </md-input-container> -->
    <!-- <button class="btn btn-primary" style="margin: 5px" [disabled]="!editLineageRowForm.form.valid" (click)="saveColumnLineage(columnLineage)"
        [disabled]="columnLineage.SourceTableId < 0 || columnLineage.SourceColumnId < 0">Save</button> -->
    <button class="btn btn-default glyphicon glyphicon-pencil" style="margin: 5px" title="Edit source column" [disabled]="columnLineage.SourceTableId < 0 || columnLineage.SourceColumnId < 0"
        (click)="ColumnLineageEditor.show()"></button>
    <button id="transformOrCalcBtn{{columnLineage.Id}}" class="btn glyphicon glyphicon-scale {{(columnLineage.Transformation || columnLineage.ColumnCalculation) ? 'btn-success' : 'btn-danger'}}"
        style="margin: 5px" title="Transformation or calculation" disabled></button>
    <md-checkbox style="margin: 5px" type="checkbox" name="select" (change)="toggleSelected()" [(ngModel)]="selected" [disabled]="columnLineage.SourceTableId < 0 || columnLineage.SourceColumnId < 0"></md-checkbox>
</form>

<dp-column-lineage-editor #ColumnLineageEditor [columnLineage]="columnLineage" [systemId]="systemId" [tableId]="tableId"
    [transformation]="transformation" (editorChange)="emit($event)"></dp-column-lineage-editor>