<div class="container margin-top mappingContainer" >
    <div class="row" *ngFor="let summary of summaryTypes">
        <div class="col-sm-8">
            <!-- <label>
                <input type="checkbox" [checked]="summaryExists(summary)" (click)="summaryChose(summary)">
                {{ summary.SummaryType }}
            </label> -->
            <md-checkbox mdCheckbox [checked]="summaryExists(summary)" (change)="summaryChose(summary)">
                {{ summary.SummaryType }}
            </md-checkbox>
        </div>
    </div>
</div>