<section class="container">
    <h1>Enterprise Data Warehouse Admin</h1>
    <div>
        <ul class="inline-menu margin-top center-text">
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/admin/users" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-user large-text"></span>
                            <br>
                            <span>Users</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a href="#/BusinessGlossary" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-book large-text"></span>
                            <br>
                            <span>Glossary</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/admin/generatedjobs" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-check large-text"></span>
                            <br>
                            <span>Generated Jobs</span>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>