<section class="container">
	<td class="column-row-header">
		
		<button md-icon-button [mdMenuTriggerFor]="targetColumnMenu">
			<md-icon>more_vert</md-icon>
		</button>
		{{targetColumn.DatabaseName}}&nbsp;

		<md-menu #targetColumnMenu="mdMenu">
			<button md-menu-item (click)="EditTargetColumn.show();">Edit Target Column</button>
			<button md-menu-item (click)="TermLink.show(targetColumn);">{{targetColumn.hasLink ? "Edit " : "Add "}}Term Link</button>
			<button md-menu-item (click)="ViewLineage.show();">View Lineage</button>
		</md-menu>

		<!-- <button class="btn btn-borderless glyphicon glyphicon-pencil relative-btn" title="Edit Target Column" (click)="EditTargetColumn.show();"></button>
		<button class="btn btn-borderless glyphicon glyphicon-grain relative-btn" title="View Lineage" (click)="ViewLineage.show();"></button>
		<button class="btn btn-borderless glyphicon glyphicon-book relative-btn" title="Link Term" (click)="TermLink.show(); TermLink.clearLink(hasLink)"></button> -->
	</td>
	<td class="column-row-footer">
		<dp-column-lineage-row #columnLineageRow *ngFor="let columnLineage of columnLineages" [columnLineage]="columnLineage" [sourceTables]="sourceTables"
		 [tableId]="tableId" [systemId]="systemId" [selectedLineages]="selectedLineages" [transformation]="targetColumn.BaseDataType"
		 (columnLineageChange)="getColumnLineages(targetColumn.Id, systemId)" (columnLineageSaved)="addColumnLineage()"></dp-column-lineage-row>
	</td>
</section>

<!-- EDIT TARGET COLUMN -->
<dp-target-column-modal #EditTargetColumn [targetColumn]="targetColumn"></dp-target-column-modal>

<!-- LINEAGE TREE -->
<dp-term-link-modal #TermLink (linkChange)="getColumnLineages(targetColumn.Id, systemId);"></dp-term-link-modal>

<dp-modal #ViewLineage>
	<div class="dp-modal-header">
		<button type="button" class="close" (click)="ViewLineage.hide()">&times;</button>
		<h4 class="modal-title">Lineage</h4>
	</div>
	<div class="dp-modal-body">
		<dp-target-column-tree-component *ngIf="ViewLineage.visible" [columnSelected]="columnFamily"></dp-target-column-tree-component>
	</div>
	<div class="dp-modal-footer">
		<button type="button" class="btn btn-default" (click)="ViewLineage.hide()">Close</button>
	</div>
</dp-modal>