<!-- <div class="horizontal-center" *ngIf="columnSelected">
    <h3>{{columnSelected.parent.DatabaseName}}</h3>
</div> -->
<dp-collapsible-tree *ngIf="treeData != null" [treeData]="treeData"></dp-collapsible-tree>