<section class="container">
    <h2>Lineage Editor: <span *ngIf="table">{{table.DatabaseName}}</span></h2>

    <!-- Target Source Systems Panel -->
    <dp-target-table-system (onSystemSelect)="onSystemSelect($event)"></dp-target-table-system>

    <!-- <div class="clearfix row margin-top">
        <div class="col-sm-5">
            <div>
                <input class="form-control" [(ngModel)]="searchText" placeholder="Filter Columns">
            </div>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-default" (click)="loadNewTargetColumn(); AddTargetColumn.show();"><small>Add Target Column</small></button>
            <button class="btn btn-default" (click)="SqlConfigurator.show();"><small>SQL Configurator</small></button>
            <button class="btn btn-default" (click)="JobEditor.show(null, table.DatabaseName);"><small>Job Editor</small></button>
        </div>
        <div class="col-sm-1 text-right">
            <button class="btn btn-circle glyphicon glyphicon-new-window" (click)="linkSelectedLineages()" title="SSIS Connect"></button>
            <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" (click)="removeSelectedLineages()" title="Delete Selected"
                [disabled]="selectedLineages.length == 0"></button>
        </div>
    </div> -->

    <div class="col-xl-12">
        <div class="col-lg-10">
            <md-input-container style="width: 50%">
                <input mdInput type="text" placeholder="Filter target columns" [(ngModel)]="searchText">
            </md-input-container>
        </div>

        <div class="col-xs-2 text-right">
            <md-menu #targetTableMenu="mdMenu">
                <button md-menu-item (click)="loadNewTargetColumn(); AddTargetColumn.show();">Add Target Column</button>
                <button md-menu-item (click)="SqlConfigurator.show();">SQL Configurator</button>
                <button md-menu-item (click)="JobEditor.show(null, table.DatabaseName);">Job Editor</button>
            </md-menu>

            <button class="btn btn-default btn-circle glyphicon glyphicon-new-window" (click)="linkSelectedLineages()" title="SSIS Connect"></button>
            <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" (click)="removeSelectedLineages()" title="Delete Selected"
                [disabled]="selectedLineages.length == 0"></button>
            <button md-icon-button [mdMenuTriggerFor]="targetTableMenu"><md-icon>more_vert</md-icon></button>
        </div>
    </div>

    <table class="table table-condensed table-hover" *ngIf="system.Id >= 0 && targetColumns">
        <tbody Id="targetColumns">
            <tr *ngFor="let targetColumn of (targetColumns | targetColumn: searchText) | paginate: { itemsPerPage: 10, currentPage: page }">
                <dp-target-table-column [targetColumn]="targetColumn" [systemId]="system.Id" [sourceTables]="sourceTables" [tableId]="table.Id"
                    [selectedLineages]="selectedLineages">
                </dp-target-table-column>
            </tr>
        </tbody>
    </table>
    <div class="has-text-centered">
        <pagination-controls class="pagination" (pageChange)="page = $event;"></pagination-controls>
    </div>
</section>

<!-- ADD TARGET COLUMN -->
<dp-target-column-modal #AddTargetColumn [targetColumn]="targetTableColumn" (columnChange)="getTargetColumns()"></dp-target-column-modal>

<!-- SQL JOIN CONFIGURATOR -->
<dp-sqlconfigurator #SqlConfigurator [tableId]="table.Id" [systemId]="system.Id" [sourceTables]="sourceTables"></dp-sqlconfigurator>

<!-- JOB EDITOR -->
<dp-job-editor-modal #JobEditor></dp-job-editor-modal>