.mat-sidenav-container {
    background-color: white;
}

.glossary-container {
    height: calc(100vh - 111px);
}


.glossary-sidenav {
    background-color: #333;
}

.glossary-add-fab {
    position: absolute;
    right: 10px;
    top: 10px;
}

button.glossary-sidenav-toggler {
    float: left;
}

h3 {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
    width: 250px;
}
ul>li:first-child {
    border-top: 1px solid #FFFFFF;
}

li {
    min-width: 250px;
    width: 250px;
    color: white;
    white-space: nowrap;
    border: 1px solid #FFFFFF;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    text-align: left;
    padding: .5rem 0.5rem;
    padding-left: 16px;
    max-height: 42px;
    cursor: pointer;
    opacity: .7;
}

li:hover,
li:focus,
li.active {
    opacity: 1;
    background: #444444;
}