<md-sidenav-container class="glossary-container">
    <button md-icon-button class="glossary-sidenav-toggler" (click)="glossarySideNav.toggle()"><md-icon>menu</md-icon></button>

    <md-sidenav #glossarySideNav class="glossary-sidenav" mode="over">
        <button md-icon-button class="glossary-sidenav-toggler" style="color: white" (click)="glossarySideNav.toggle()"><md-icon>menu</md-icon></button>
        <h3><span class="clickable" (click)="gotoGlossary()" title="Go to business glossary">Glossaries</span></h3>
        <ul *ngFor="let glossary of glossaryList">
            <li (click)="gotoGlossary(glossary.Id)">
                {{glossary.BusinessGlossaryName}}
            </li>
        </ul>
    </md-sidenav>

    <section class="container">
        <section *ngIf="showBusinessGlossary" class="container">
            <h1>Business Glossary</h1>
            <button md-mini-fab class="glossary-add-fab" color="primary" title="Add Glossary" (click)="AddGlossary.show();"><md-icon>add</md-icon></button>

            <div class="margin-top-md">
                <table datatable [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Definition</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let glossary of glossaryList" (click)="gotoGlossary(glossary.Id)" class="clickable" title="Click to go to glossary">
                            <td>{{glossary.BusinessGlossaryName}}</td>
                            <td>{{glossary.BusinessGlossaryDescription}}</td>
                            <td>{{glossary.UpdatedDate | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <router-outlet></router-outlet>
    </section>

</md-sidenav-container>

<!-- ADD GLOSSARY MODAL -->
<dp-glossary-modal #AddGlossary (glossaryChange)="getGlossaries()"></dp-glossary-modal>