<section class="container">
    <h1>
        <span class="clickable" [routerLink]="['/glossary/']" title="Go to business glossary">Glossary</span>
        <small>{{glossary.BusinessGlossaryName}}</small>
    </h1>
    <button md-mini-fab class="glossary-delete-fab" color="warn" title="Delete Glossary" (click)="deleteGlossary()" [disabled]="glossary.Categories && glossary.Categories.length > 0">
        <md-icon>delete</md-icon>
    </button>
    <button md-mini-fab class="glossary-edit-fab" color="primary" title="Edit Glossary" (click)="glossaryModal.show(glossary);">
        <md-icon>edit</md-icon>
    </button>
    <button md-mini-fab class="glossary-add-fab" color="primary" title="Add Category" (click)="categoryModal.show(glossary);">
        <md-icon>add</md-icon>
    </button>

    <md-expansion-panel #glossaryDetailPanel>
        <md-expansion-panel-header>
            <md-panel-title>
                Glossary Details
            </md-panel-title>
        </md-expansion-panel-header>

        <form name="dp-edit-glossary-form" #editGlossaryForm="ngForm">
            <md-input-container class="full-width">
                <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="glossary.Id">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Name" name="Name" required [(ngModel)]="glossary.BusinessGlossaryName">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Description" name="Description" required [(ngModel)]="glossary.BusinessGlossaryDescription">
            </md-input-container>
            <md-input-container *ngIf="glossary.CreatedUser" class="half-width">
                <input mdInput type="text" placeholder="Created User" name="CreatedUser" disabled [(ngModel)]="glossary.CreatedUser.FirstName + ' ' + glossary.CreatedUser.LastName">
            </md-input-container>
            <md-input-container *ngIf="glossary.CreatedUser" class="half-width">
                <input mdInput type="text" placeholder="Created Date" name="CreatedDate" disabled [(ngModel)]="glossary.CreatedDate">
            </md-input-container>
            <md-input-container *ngIf="glossary.UpdatedUser" class="half-width">
                <input mdInput type="text" placeholder="Updated User" name="UpdatedUser" disabled [(ngModel)]="glossary.UpdatedUser.FirstName + ' ' + glossary.UpdatedUser.LastName">
            </md-input-container>
            <md-input-container *ngIf="glossary.UpdatedUser" class="half-width">
                <input mdInput type="text" placeholder="Updated Date" name="UpdatedDate" disabled [(ngModel)]="glossary.UpdatedDate">
            </md-input-container>
        </form>

        <md-action-row>
            <button class="btn btn-primary" (click)="saveGlossary();" [disabled]="!editGlossaryForm.form.valid">Save</button>
            <button class="btn btn-default" (click)="glossaryDetailPanel.close()">Close</button>
        </md-action-row>
    </md-expansion-panel>

    <div class="margin-top-md">
        <table datatable [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Definition</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of glossary.Categories" [routerLink]="['/glossary/category/', category.Id]" class="clickable" title="Click to go to category">
                    <td>{{category.Id}}</td>
                    <td>{{category.CategoryName}}</td>
                    <td>{{category.CategoryDescription}}</td>
                    <td>{{category.UpdatedDate | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- CATEGORY MODAL -->
<dp-category-modal #categoryModal (categoryChange)="getGlossaryById()"></dp-category-modal>

<!-- GLOSSARY MODAL -->
<dp-glossary-modal #glossaryModal (glossaryChange)="getGlossaryById()"></dp-glossary-modal>