.glossary-delete-fab {
    position: absolute;
    right: 10px;
    top: 10px;
}

.glossary-edit-fab {
    position: absolute;
    right: 60px;
    top: 10px;
}

.glossary-add-fab {
    position: absolute;
    right: 110px;
    top: 10px;
}