<!-- Modal used see detail of schema chosen -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div id="schemaModal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Edit Schema</h4>
            </div>

            <div class="modal-body">
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Schema Details
                        </md-panel-title>
                    </md-expansion-panel-header>

                    <form name="dp-edit-schema-form" #editSchemaForm="ngForm">
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="Schema.Id">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="Schema Name" name="SchemaName" required [(ngModel)]="Schema.SchemaName">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="Login User Name" name="LoginUserName" required [(ngModel)]="Schema.LoginUserName">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="password" placeholder="Login User Password" name="LoginUserPassword" required [(ngModel)]="Schema.LoginUserPassword">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DataBase Host Name" name="DBHostName" [(ngModel)]="Schema.DBHostName">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DataBase Provider" name="DBProvider" [(ngModel)]="Schema.DBProvider">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DataBase Type" name="DBType" [(ngModel)]="Schema.DBType">
                        </md-input-container>
                    </form>
                </md-expansion-panel>

                <div class="margin-top-md">
                    <table datatable id="edit{{Schema.SchemaName}}" dt-instance="editDtInstance" [dtOptions]="editDtOptions" [dtTrigger]="editDtTrigger"
                        class="table table-hover row-border hover">
                        <thead>
                            <tr>
                                <th class="col-sm-2">Id</th>
                                <th class="col-md-2">Table Name</th>
                                <th class="col-md-6"><span *ngIf="tablePrefix">Table Prefix</span></th>
                                <th class="col-xs-1"></th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Add Table Form -->
                            <tr *ngIf="showAddTable">
                                <td></td>
                                <td>
                                    <md-input-container>
                                        <input mdInput type="text" placeholder="DataBase Name" name="DataBaseName" [(ngModel)]="Table.DatabaseName">
                                    </md-input-container>
                                </td>
                                <td></td>
                                <td align="right">
                                    <button class="btn btn-success glyphicon glyphicon-check" type="button" title="Confirm" (click)="confirmAddTableForm()"></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger glyphicon glyphicon-ban-circle" type="button" title="Cancel" (click)="cancelAddTableForm()"></button>
                                </td>
                            </tr>
                            <!-- Edit Table Form -->
                            <tr *ngFor="let table of Tables">
                                <td [routerLink]="['table/', table.Id]">{{ table.Id }}</td>
                                <div *ngIf="showEditTable && Table.DatabaseName == table.DatabaseName;then editView else normView"></div>
                                <!-- Standard view of row with no input -->
                                <ng-template #normView>
                                    <td [routerLink]="['table/', table.Id]">{{ table.DatabaseName }}</td>
                                    <td></td>
                                    <td align="right">
                                        <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" type="button" title="Delete" (click)="deleteTable(table)"></button>
                                    </td>
                                    <td align="right">
                                        <!-- Shows Edit Table Form -->
                                        <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit" (click)="showEditTableForm(table);"></button>
                                    </td>
                                </ng-template>
                                <!-- Edit view of row with input -->
                                <ng-template #editView>
                                    <td>
                                        <!-- <input class="form-control" type="text" [(ngModel)]="Table.DatabaseName"> -->
                                        <md-input-container>
                                            <input mdInput type="text" placeholder="DataBase Name" name="DataBaseName" [(ngModel)]="Table.DatabaseName">
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <input mdInput type="text" placeholder="Table Prefix" name="TablePrefix" [(ngModel)]="Table.TablePrefix">
                                        </md-input-container>
                                    </td>
                                    <td align="right">
                                        <button class="btn btn-success glyphicon glyphicon-check" type="button" title="Confirm" (click)="confirmEditTableForm(table)"></button>
                                    </td>
                                    <td align="right">
                                        <button class="btn btn-danger glyphicon glyphicon-ban-circle" type="button" title="Cancel" (click)="cancelEditTableForm()"></button>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Import Table -->
                <button class="btn btn-primary" (click)="sourceSystemImportModal.getSourceSystems(); sourceSystemImportModal.show();">Import Source Tables</button>
                <button class="btn btn-primary" (click)="schemaTargetImportModal.getSchemas(); schemaTargetImportModal.show();">Import Target Tables</button>
                <!-- Shows Add Table Form -->
                <button type="button" class="btn btn-primary" (click)="showAddTableForm()">Add Table</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="updateSchema(Schema); hide();" [disabled]="!editSchemaForm.form.valid">Save</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>

    <dp-import-schema-modal #sourceSystemImportModal [schema]="Schema" (change)="getTables()"></dp-import-schema-modal>

    <dp-import-target-schema-modal #schemaTargetImportModal [schema]="Schema" (change)="getTables()"></dp-import-target-schema-modal>