<!-- Modal used to add or edit a source system -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <div *ngIf="SourceSystem.Id >= 0; then editTitle else addTitle"></div>
                <ng-template #addTitle>
                    <h4 class="modal-title">Add Source System</h4>
                </ng-template>
                <ng-template #editTitle>
                    <h4 class="modal-title">Edit Source System</h4>
                </ng-template>
            </div>
            <div class="modal-body">
                <form name="dp-add-ss-form" #addSourceSystemForm="ngForm">
                    <div *ngIf="FromFolder;then fromFileTemplate else standardTemplate"></div>
                    <ng-template #fromFileTemplate>
                        <div class="full-width">
                            <input id="fileFormInput" type="file" name="filePaths" required multiple accept="text/plain,text/csv" (change)="filesUploaded($event)">
                        </div>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput id="nameFormInput" type="text" placeholder="Name" name="name" required [(ngModel)]="SourceSystem.Name">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Vendor Name" name="dbVendorName" required [(ngModel)]="SourceSystem.DBVendorName">
                        </md-input-container>
                        <br>
                        <md-select class="half-width" placeholder="File Type" name="FileType" required [(ngModel)]="SourceTablesInfo.FileType">
                            <md-option (click)="addSourceSystemForm.form.controls.FileType.reset()" [value]="">Select a File Type</md-option>
                            <md-option value="csv">CSV</md-option>
                            <md-option value="txt">Text</md-option>
                        </md-select>
                        <md-checkbox class="half-width" id="headerFormInput" title="First line of file is header or not" type="checkbox" name="firstLineHeader"
                            [checked]="SourceTablesInfo.FirstLineHeader == 1" (change)="toggleHeader()" [disabled]="!SourceTablesInfo.FileType || SourceTablesInfo.FileType == 'database' || SourceTablesInfo.FileType == 'api'">First Line Header
                        </md-checkbox>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput title="Example: , or |" type="text" placeholder="Delimiter" name="fileDelimiter" maxlength="1" [disabled]="!SourceTablesInfo.FileType || SourceTablesInfo.FileType == 'database' || SourceTablesInfo.FileType == 'api'"
                                [(ngModel)]="SourceTablesInfo.FileDelimiter">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput title="Example: &quot; or /" type="text" placeholder="Text Qualifier" name="textQualifier" maxlength="1" [disabled]="!SourceTablesInfo.FileType || SourceTablesInfo.FileType == 'database' || SourceTablesInfo.FileType == 'api'"
                                [(ngModel)]="SourceTablesInfo.TextQualifier">
                        </md-input-container>
                    </ng-template>
                    <ng-template #standardTemplate>
                        <md-input-container class="half-width" *ngIf="SourceSystem.Id >= 0">
                            <input mdInput type="text" placeholder="Id" name="id" required [(ngModel)]="SourceSystem.Id" disabled>
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="Name" name="name" required [(ngModel)]="SourceSystem.Name">
                        </md-input-container>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Vendor Name" name="dbVendorName" required [(ngModel)]="SourceSystem.DBVendorName">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Schema Name" name="dbSchemaName" required [(ngModel)]="SourceSystem.DBSchemaName">
                        </md-input-container>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Host Name" name="dbHostName" required [(ngModel)]="SourceSystem.DBHostName">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput type="number" placeholder="DB Port" name="dbPort" required [(ngModel)]="SourceSystem.DBPort">
                        </md-input-container>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput type="text" placeholder="DB Username" name="dbUsername" required [(ngModel)]="SourceSystem.DBUserName">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput ttype="password" placeholder="DB Password" name="dbPassword" required [(ngModel)]="SourceSystem.DBPassword">
                        </md-input-container>
                        <br>
                        <md-input-container class="third-width">
                            <input mdInput type="text" placeholder="DB Version" name="dbVersion" [(ngModel)]="SourceSystem.DBVersion">
                        </md-input-container>
                        <md-input-container class="third-width">
                            <input mdInput type="text" placeholder="DB Detail 1" name="dbDetail1" [(ngModel)]="SourceSystem.DBDetail1">
                        </md-input-container>
                        <md-input-container class="third-width">
                            <input mdInput type="text" placeholder="DB Detail 2" name="dbDetail2" [(ngModel)]="SourceSystem.DBDetail2">
                        </md-input-container>
                        <br>
                        <md-radio-group class="full-width" [(ngModel)]="SourceSystem.DBEncoding" name="dbEncoding">
                            <md-radio-button value="UTF-8" selected="true">&nbsp;UTF-8&nbsp;</md-radio-button>
                            <md-radio-button value="UTF-16">&nbsp;UTF-16&nbsp;</md-radio-button>
                            <md-radio-button value="WIN1252">&nbsp;WIN1252</md-radio-button>
                        </md-radio-group>
                    </ng-template>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="SourceSystem.DBHostName != null && SourceSystem.DBHostName != ''" class="btn btn-default glyphicon glyphicon-signal" type="button" title="Test Connection" (click)="testConnection(SourceSystem);"></button>
                <button class="btn btn-primary" (click)="saveSystem(SourceSystem, SourceTablesInfo); hide();" [disabled]="!addSourceSystemForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>

