<section class="container">
    <div class="row vertical-end">
        <div class="col-md-10">
            <h1>Source Columns
                <span class="clickable-row" title="Return to source systems" [routerLink]="['/source/sourcesystem/']"><small>{{name}}</small></span>
                <small>:</small>
                <span class="clickable-row" title="Return to source tables" (click)="gotoTable(systemId, name)"><small>{{table}}</small></span>
            </h1>
        </div>
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="sourceColumnModal.clearColumn(); sourceColumnModal.show();">Add Source Column</button>
        </div>
    </div>

    <div class="margin-top-md">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Source Table Id</th>
                    <th>Database Name</th>
                    <th>Order</th>
                    <th>FriendlyName 1</th>
                    <th>FriendlyName 2</th>
                    <th>Data Type</th>
                    <th>Char Type</th>
                    <th>Precision</th>
                    <th>Scale</th>
                    <th>Nullable Flag</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let column of sourceColumns">
                    <td>{{ column.Id }}</td>
                    <td>{{ column.SourceTableId }}</td>
                    <td>{{ column.DatabaseName }}</td>
                    <td>{{ column.Order }}</td>
                    <td title="{{ column.FriendlyName1Conv }}">{{ column.FriendlyName1 }}</td>
                    <td title="{{ column.FriendlyName2Conv }}">{{ column.FriendlyName2 }}</td>
                    <td title="{{ column.FullDataType }}">{{ column.BaseDataType }}</td>
                    <td>{{ column.CharType }}</td>
                    <td>{{ column.Precision }}</td>
                    <td>{{ column.Scale }}</td>
                    <td>{{ column.NullableFlag }}</td>
                    <td align="right">
                        <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit" (click)="sourceColumnModal.loadColumn(column); sourceColumnModal.show();"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- SOURCE SYSTEM MODAL -->
<dp-source-column-modal #sourceColumnModal (systemColumnChange)="getSourceColumns()" [tableId]="tableId" [defaultOrder]="defaultOrder"></dp-source-column-modal>