<button [ngClass]="{ 'btn-default': transformations.Id != null && transformIndex != transformations, 
    'btn-warning': transformations.Id == null && transformIndex != transformations, 
    'btn-primary': transformIndex == transformations }" 
    class="btn inline-block" (click)="setTransformIndex(transformations)">{{transformations.Name}}
</button>
<div class="inline-block" *ngFor="let transformations of transformations.Params">
    <transformation-button [transformIndex]="transformIndex" [transformations]="transformations" (indexChange)="setTransformIndex($event.index)"></transformation-button>
</div>