<div class="mappingContainer ">
    <div class="col-xl-12">
        <!-- <div class="col-md-4">
            <md-tab-group>
                <md-tab label="Lineage Columns">
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li *ngFor="let table of tableLineages">
                                <label [ngClass]="{'expanded': table.lineage}" (click)="toggleTree('tableLineage', table)">
                                    <span class="margin-left margin-right-sm"></span>{{table.SourceTable.FriendlyName}}
                                </label>
                                <ul class="nav nav-list tree" *ngIf="table.lineage">
                                    <li class="treeChild" *ngFor="let tableColumn of orderIt(table.SourceTable.SourceColumns)">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToTransformation({'Id': '['+tableColumn.Id+']', 'Name': '['+table.SourceTable.FriendlyName+'].['+tableColumn.FriendlyName1+']', 'Type': 'column'})">
                                            <span class="margin-left margin-right-sm"></span>{{tableColumn.FriendlyName1}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </md-tab>
                <md-tab label="Transformations">
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showFunctions }" (click)="toggleTree('function')">
                                    <span class="margin-left margin-right-sm"></span>Functions
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showFunctions">
                                    <li class="treeChild" title="{{func.Format}}" *ngFor="let func of transformFunctions" (click)="addToTransformation(func)">
                                        <label class="tree-toggle nav-header disable-user-select">
                                            <span class="margin-left margin-right-sm"></span>{{func.Type}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showConditionals }" (click)="toggleTree('conditional')">
                                    <span class="margin-left margin-right-sm"></span>Conditionals
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showConditionals">
                                    <li class="treeChild" title="{{cond.Format}}" *ngFor="let cond of transformConditionals" (click)="addToTransformation(cond)">
                                        <label class="tree-toggle nav-header disable-user-select">
                                            <span class="margin-left margin-right-sm"></span>{{cond.Type}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showOperators }" (click)="toggleTree('operators')">
                                    <span class="margin-left margin-right-sm"></span>Operators
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showOperators">
                                    <li class="treeChild" *ngFor="let operator of transformOperators" (click)="addToTransformation(operator)">
                                        <label class="tree-toggle nav-header disable-user-select">
                                            <span class="margin-left margin-right-sm"></span>{{operator.Format}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showGates }" (click)="toggleTree('gate')">
                                    <span class="margin-left margin-right-sm"></span>Gates
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showGates">
                                    <li class="treeChild" *ngFor="let gate of transformGates" (click)="addToTransformation(gate)">
                                        <label class="tree-toggle nav-header disable-user-select">
                                            <span class="margin-left margin-right-sm"></span>{{gate.Format}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showConstants }" (click)="toggleTree('constants')">
                                    <span class="margin-left margin-right-sm"></span>Constants
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showConstants">
                                    <li class="treeChild col-lg-12">
                                        <label class="tree-toggle nav-header disable-user-select col-xs-2" style="width: 0" (click)="addToTransformation({'Id': transformString, 'Name': '\''+transformString+'\'', 'Type': 'string'})">
                                            <span class="margin-left margin-right-sm"></span>
                                        </label>
                                        <input class="col-lg-10" type="text" class="form-control" [(ngModel)]="transformString" placeholder="String">
                                    </li>
                                    <li class="treeChild col-lg-12">
                                        <label class="tree-toggle nav-header disable-user-select col-xs-2" style="width: 0" (click)="addToTransformation({'Id': transformNumeric, 'Name': transformNumeric, 'Type': 'numeric'})">
                                            <span class="margin-left margin-right-sm"></span>
                                        </label>
                                        <input class="col-lg-10" type="number" class="form-control inputListItem" [(ngModel)]="transformNumeric" placeholder="Numeric">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </md-tab>
            </md-tab-group>
        </div> -->

        <div *ngIf="!tableLineages" class="col-xl-12" style="text-align: center">
            There are no table lineages.
        </div>

        <div *ngIf="tableLineages" class="col-md-4">
            <div class="treeContainer">
                <ul class="nav nav-list">
                    <li *ngFor="let table of tableLineages">
                        <label [ngClass]="{'expanded': table.lineage}" (click)="toggleTree(table)">
                            <span class="margin-left margin-right-sm"></span>{{table.SourceTable.FriendlyName}}
                        </label>
                        <ul class="nav nav-list tree" *ngIf="table.lineage">
                            <li class="treeChild" *ngFor="let tableColumn of orderIt(table.SourceTable.SourceColumns)">
                                <label class="tree-toggle nav-header disable-user-select" (click)="addToTransformation({'Id': '['+tableColumn.Id+']', 'Name': '['+table.SourceTable.FriendlyName+'].['+tableColumn.FriendlyName1+']', 'Type': 'column'})">
                                    <span class="margin-left margin-right-sm"></span>{{tableColumn.FriendlyName1}}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="tableLineages" class="col-lg-8">
            <button class="btn btn-default" type="button" *ngFor="let func of transformFunctions" (click)="addToTransformation(func)">{{func.Type}}</button>
            <button class="btn btn-default" type="button" *ngFor="let cond of transformConditionals" (click)="addToTransformation(cond)">{{cond.Type}}</button>
            <button class="btn btn-default" type="button" *ngFor="let gate of transformGates" (click)="addToTransformation(gate)">{{gate.Format}}</button>
            <button class="btn btn-default" type="button" *ngFor="let operator of transformOperators" (click)="addToTransformation(operator)">{{operator.Format}}</button>

            <br>

            <md-input-container>
                <input mdInput type="number" placeholder="Numeric" (keypress)="inputNumeric($event)" [(ngModel)]="transformNumeric" ng-pattern="/^\d+$/">
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" placeholder="String" (keypress)="inputString($event)" [(ngModel)]="transformString">
            </md-input-container>

            <button class="btn btn-default btn-align-right" type="button" (click)="clearTransformation()">Clear</button>

            <div class="col-lg-12" class="container calcBox">
                <div *ngIf="transformations.Id;then transformationsBox else emptyMessage"></div>
                <ng-template #transformationsBox>
                    <div class="btn-group">
                        <transformation-button [transformIndex]="transformIndex" [transformations]="transformations" (indexChange)="setTransformIndex($event.index)"></transformation-button>
                    </div>
                </ng-template>
                <ng-template #emptyMessage>
                    <div style="text-align: center">Choose a column or transformation to begin.</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>