<!-- Modal used to add or edit a term link -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">{{targetColumn.hasLink ? "Edit " : "Add "}}Term Link</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-tl-form" #addTermLinkForm="ngForm">
                    <md-select class="full-width" placeholder="Glossary" name="glossary" [(ngModel)]="target.glossary" (change)="getCategories(target.glossary.Id);">
                        <md-option *ngFor="let glossary of glossaries" [value]="glossary">
                            {{glossary.BusinessGlossaryName}}
                        </md-option>
                    </md-select>
                    <md-select class="full-width" placeholder="Category" name="category" [(ngModel)]="target.category" [disabled]="target.glossary.Id < 0">
                        <md-option *ngFor="let category of categories" [value]="category">
                            {{category.CategoryName}}
                        </md-option>
                    </md-select>
                    <br>
                    <md-input-container class="third-width">
                        <input mdInput type="text" placeholder="Term Name" name="TermName" [(ngModel)]="target.term.TermName" required [disabled]="target.category.Id < 0">
                    </md-input-container>
                    <md-input-container class="third-width">
                        <input mdInput type="text" placeholder="Term Description" name="TermDescription" [(ngModel)]="target.term.TermDescription" required [disabled]="target.category.Id < 0">
                    </md-input-container>
                    <md-select class="third-width" placeholder="Term Status" name="TermStatus" [(ngModel)]="target.term.TermStatus" required [disabled]="target.category.Id < 0">
                        <md-option *ngFor="let status of termStatuses" [value]="status.Id">
                            {{status.Status}}
                        </md-option>
                    </md-select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveLink(); hide();" [disabled]="!addTermLinkForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Close</button>
            </div>
        </div>
    </div>
</div>