<div class="mappingContainer col-sm-12">
    <!-- <div class="col-sm-12" style="margin-bottom: 15px">
        <span>Enter filters separated by commas:</span>
    </div>
    <div class="col-sm-12">
        <input type="text" [(ngModel)]="columnLineage.ColumnFilters" class="form-control" placeholder="Filters">
    </div> -->
    <div class="full-width">
        Enter filters seperated by commas
    </div>
    <md-input-container class="half-width">
        <input mdInput title="Seperate filter names by commas" type="text" placeholder="Filters" [(ngModel)]="columnLineage.ColumnFilters">
    </md-input-container>
</div>