<!-- Modal used to add a table -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Add Table</h4>
            </div>
            <div class="modal-body">
                <form name="dp-add-table-form" #addTableForm="ngForm">
                    <md-select class="half-width" placeholder="Schema Name" name="SchemaName" required [(ngModel)]="Table.SchemaName">
                        <md-option *ngFor="let schema of Schemas" value="{{schema.SchemaName}}">{{schema.SchemaName}}</md-option>
                    </md-select>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Table Name" name="DatabaseName" required [(ngModel)]="Table.DatabaseName">
                    </md-input-container>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveTable(); hide();" [disabled]="!addTableForm.form.valid">Save</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>