<!-- Modal used to view job history details -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog" *ngIf="visible && job">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Job Editor: {{ job.TargetTable }}</h4>
            </div>
            <div class="modal-body">
                <md-tab-group (selected)="setTitle($event.title)">
                    <md-tab *ngIf="job.JobHistorys" label="History">
                        <table class="table table-hover row-border hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Run Date</th>
                                    <th>Status</th>
                                    <th>Record Count</th>
                                    <th>Error Count</th>
                                    <th>Extract Count</th>
                                    <th>Rows Inserted</th>
                                    <th>Rows Updated</th>
                                    <th>Exec Start Time</th>
                                    <th>Exec Stop Time</th>
                                    <th>RunTime</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let jobRow of job.JobHistorys">
                                    <td>{{ jobRow.Id }}</td>
                                    <td>{{ jobRow.RunDateDateTime | date:'medium' }}</td>
                                    <td>{{ jobRow.Status }}</td>
                                    <td>{{ jobRow.RecordCount }}</td>
                                    <td>{{ jobRow.ErrorCount }}</td>
                                    <td>{{ jobRow.ExtractCount }}</td>
                                    <td>{{ jobRow.InsertRowCount }}</td>
                                    <td>{{ jobRow.UpdateRowCount }}</td>
                                    <td>{{ jobRow.ExecStartTime }}</td>
                                    <td>{{ jobRow.ExecStopTime }}</td>
                                    <td>{{ jobRow.RunTime }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-tab>
                    <md-tab label="Job Params">
                        <table class="table table-hover row-border hover">
                            <thead class="child table">
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let param of job.JobParams">
                                    <td>{{ param.JobName }}</td>
                                    <td>{{ param.paramName }}</td>
                                    <td align="right">
                                        <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" type="button" title="Delete Job" (click)="deleteJob(param);"></button>
                                    </td>
                                </tr>
                                <tr *ngFor="let param of addJobParam">
                                    <td>{{ param.JobName }}</td>
                                    <td>{{ param.paramName }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-circle glyphicon glyphicon-plus" type="button" title="Add Job" (click)="addJob(param);"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-tab>
                    <md-tab label="Editor">
                        <md-select class="half-width margin-top-md" placeholder="Upsert Type" [(ngModel)]="job.UTId">
                            <md-option *ngFor="let upsert of upsertments" [value]="upsert.Id">{{upsert.type}}</md-option>
                        </md-select>
                        <br>
                        <md-checkbox class="third-width" type="checkbox" [(ngModel)]="job.isNextLoadFull">
                            Load is Full Load
                        </md-checkbox>
                        <br>
                        <md-checkbox class="third-width" type="checkbox" [(ngModel)]="job.useCDCFlag">
                            Use CDC Flag
                        </md-checkbox>
                        <br>
                        <md-checkbox class="third-width" type="checkbox" [(ngModel)]="job.truncateOnNextLoad">
                            Truncate on Next Load
                        </md-checkbox>
                        <br>
                        <md-checkbox class="third-width" type="checkbox" [(ngModel)]="job.useNullValueReplacement">
                            Use Null Value Replacement
                        </md-checkbox>
                        <br>
                        <md-checkbox class="third-width" type="checkbox" [(ngModel)]="job.trimFields">
                            Trim Fields
                        </md-checkbox>
                        <br>
                        <md-checkbox class="third-width" type="checkbox" [(ngModel)]="job.UseJulianDateFormat">
                            Use Julian Date Format
                        </md-checkbox>
                    </md-tab>
                </md-tab-group>
            </div>
            <div class="modal-footer">
                <button *ngIf="!job.CurrentProcessDateTime" class="btn btn-primary" (click)="createJobParams()">Create Job</button>
                <button *ngIf="job.CurrentProcessDateTime" class="btn btn-primary" (click)="saveJob(); hide();">Save</button>
                <button class="btn btn-default" (click)="hide();">Close</button>
            </div>
        </div>
    </div>
</div>