<section class="container">
    <div class="row vertical-end">
        <div class="col-md-8">
            <h1>Source Tables
                <span class="clickable-row" title="Return to source systems" [routerLink]="['/source/sourcesystem/']"><small>{{ name }}</small></span>
            </h1>
        </div>
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)=" sourceTableImportModal.getImportSchemas(SourceSystemId); sourceTableImportModal.clearChecks(); sourceTableImportModal.show();">Import Tables</button>
        </div>
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="sourceTableModal.clearTable(); sourceTableModal.setFromFile(false); sourceTableModal.show();">
                Add Source Table
            </button>
        </div>
        <div class="col-sm-2" align="right">
            <button class="btn btn-primary" (click)="sourceTableModal.clearTable(); sourceTableModal.setFromFile(true); sourceTableModal.show();">
                Add Source Table From File
            </button>
        </div>
    </div>
    <div class="margin-top-md">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Source System Id</th>
                    <th>Database Name</th>
                    <th>Schema Name</th>
                    <th>Friendly Name</th>
                    <th>Tablespace Name</th>
                    <th>Num Row Stats</th>
                    <th>Num Rows Select</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" title="Click to go to source table page" *ngFor="let table of sourceTables">
                    <td (click)="gotoTable(table, name)">{{ table.Id }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.SourceSystemId }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.DatabaseName }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.SchemaName }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.FriendlyName }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.TablespaceName }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.NumRowStats }}</td>
                    <td (click)="gotoTable(table, name)">{{ table.NumRowSelect }}</td>
                    <td align="right">
                        <button class="btn btn-default glyphicon glyphicon-edit" type="button" title="Edit" (click)="sourceTableModal.loadSystem(table); sourceTableModal.setFromFile(false); sourceTableModal.show();"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- SOURCE TABLE MODAL -->
<dp-source-table-modal #sourceTableModal (systemTableChange)="getSourceTables()" [SourceSystemId]="SourceSystemId" [vendor]="vendor"></dp-source-table-modal>
<!-- IMPORT TABLE MODAL -->
<dp-source-table-import-modal #sourceTableImportModal (importChange)="getSourceTables()"></dp-source-table-import-modal>