<div class="container">
    <h1>Enterprise Data Warehouse</h1>
    <div>
        <ul class="inline-menu margin-top center-text">
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/source/sourcesystem" routerLinkActive="active" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-circle-arrow-down large-text"></span>
                            <br>
                            <span>Source Systems</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/schema" routerLinkActive="active" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-dashboard large-text"></span>
                            <br>
                            <span>EDW Tables</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/jobhistory" routerLinkActive="active" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-circle-arrow-down large-text"></span>
                            <br>
                            <span>Job History</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a href="/dataLineage" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-circle-arrow-down large-text"></span>
                            <br>
                            <span>Data Lineage</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/glossary/" routerLinkActive="active" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-circle-arrow-down large-text"></span>
                            <br>
                            <span>Glossary</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="inline-block center-text">
                    <a routerLink="/admin" class="thumbnail edw-icon">
                        <span>
                            <span class="glyphicon glyphicon-circle-arrow-down large-text"></span>
                            <br>
                            <span>Administration</span>
                        </span>
                    </a>
                </div>
            </li>

        </ul>
</div>