<div class="container margin-top mappingContainer">
    <div class="row margin-bottom" >
        <div class="col-sm-8">
            <!-- <label>
                    <input type="checkbox" [(ngModel)]="cdcDate" (ngModelChange)="toggleDate(cdcDate)">
                    Date Flag<br>
                    <input type="checkbox" [(ngModel)]="cdcTime" (ngModelChange)="toggleTime(cdcTime)">
                    Time Flag<br>
                    <input type="checkbox" [(ngModel)]="lookup" (ngModelChange)="toggleLookup(lookup)">
                    Use as lookup key
            </label> -->
            <md-checkbox mdCheckbox [(ngModel)]="cdcDate" (ngModelChange)="toggleDate(cdcDate)">
                Date Flag
            </md-checkbox>
            <br>
            <md-checkbox mdCheckbox [(ngModel)]="cdcTime" (ngModelChange)="toggleTime(cdcTime)">
                Time Flag
            </md-checkbox>
            <br>
            <md-checkbox mdCheckbox [(ngModel)]="lookup" (ngModelChange)="toggleLookup(lookup)">
                Use as lookup key
            </md-checkbox>
        </div>
    </div>
</div>