<!-- Modal used to add or edit a target column -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Import Target Tables from Schema</h4>
            </div>

            <div class="modal-body">
                <!--<md-select class="half-width margin-bottom" placeholder="From Schema" [(ngModel)]="sourceImport.SchemaName" (change)="updateTables(sourceImport)">
                    <md-option *ngFor="let schema of schemas" value="{{schema.SchemaName}}">{{schema.SchemaName}}</md-option>
                </md-select>-->

                <div class="form-horizontal">
                    <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
                        <thead>
                            <tr>
                                <th>Tables from Schema</th>
                            </tr>
                            <tr><th><md-checkbox class="half-width" type="checkbox" [(ngModel)]="selectAllButton" (change)="selectAll()">Select All</md-checkbox></th></tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let table of sourceImport.SchemaTables">
                                <td><md-checkbox class="half-width" type="checkbox" [(ngModel)]="table.value" (change)="select(table)">{{table.key}}</md-checkbox></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="saveTables(); hide();" [disabled]="!checked">Import</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>