.term-delete-fab {
    position: absolute;
    right: 10px;
    top: 10px;
}

.term-edit-fab {
    position: absolute;
    right: 60px;
    top: 10px;
}

.term-add-fab {
    position: absolute;
    right: 110px;
    top: 10px;
}

.term-link-fab {
    position: absolute;
    right: 160px;
    top: 10px;
}