<section class="container">
    <h1>
        Term
        <span class="clickable" [routerLink]="['/glossary/category/', Term.Category.Id]" title="Return to category page."><small>{{Term.Category.CategoryName}} : </small></span>
        <small>{{Term.TermName}}</small>
    </h1>
    <button md-mini-fab class="term-delete-fab" color="warn" title="Delete Term" (click)="deleteTerm()" [disabled]="Term.RelatedTerms && Term.RelatedTerms.length > 0"><md-icon>delete</md-icon></button>
    <button md-mini-fab class="term-edit-fab" color="primary" title="Edit Term" (click)="termModal.show(Term.Category, Term);"><md-icon>edit</md-icon></button>
    <button md-mini-fab class="term-add-fab" color="primary" title="Add Related Term" (click)="relatedTermModal.show(Term);"><md-icon>add</md-icon></button>
    <button md-mini-fab class="term-link-fab" color="primary" title="Add Target Column Link" (click)="termLinkModal.show(Term);"><md-icon>link</md-icon></button>

    <md-expansion-panel #categoryDetailPanel>
        <md-expansion-panel-header>
            <md-panel-title>
                Term Details
            </md-panel-title>
        </md-expansion-panel-header>

        <div *ngIf="TargetTable.DatabaseName && TargetColumn.DatabaseName" class="panel-header-row">
            Target Column Linked:
            <span class="clickable" (click)="gotoTargetTable()" title="Go to target table page.">{{TargetTable.DatabaseName}} : {{TargetColumn.DatabaseName}}</span>
        </div>

        <form name="dp-edit-category-form" #editTermForm="ngForm">
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Id" name="Id" required disabled [(ngModel)]="Term.Id">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Name" name="Name" required [(ngModel)]="Term.TermName">
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput type="text" placeholder="Description" name="Description" required [(ngModel)]="Term.TermDescription">
            </md-input-container>
            <md-select class="half-width" [(ngModel)]="Term.TermStatus" required placeholder="Status" name="TermStatus">
                <md-option (click)="editTermForm.form.controls.TermStatus.reset()" [value]="">Select a Status</md-option>
                <md-option *ngFor="let status of TermStatuses" [value]="status.Id">{{status.Status}}</md-option>
            </md-select>
            <br>
            <md-input-container *ngIf="Term.CreatedUser" class="half-width">
                <input mdInput type="text" placeholder="Created User" name="CreatedUser" disabled [(ngModel)]="Term.CreatedUser.FirstName + ' ' + Term.CreatedUser.LastName">
            </md-input-container>
            <md-input-container *ngIf="Term.CreatedUser" class="half-width">
                <input mdInput type="text" placeholder="Created Date" name="CreatedDate" disabled [(ngModel)]="Term.CreatedDate">
            </md-input-container>
            <md-input-container *ngIf="Term.UpdatedUser" class="half-width">
                <input mdInput type="text" placeholder="Updated User" name="UpdatedUser" disabled [(ngModel)]="Term.UpdatedUser.FirstName + ' ' + Term.UpdatedUser.LastName">
            </md-input-container>
            <md-input-container *ngIf="Term.UpdatedUser" class="half-width">
                <input mdInput type="text" placeholder="Updated Date" name="UpdatedDate" disabled [(ngModel)]="Term.UpdatedDate">
            </md-input-container>
        </form>

        <md-action-row>
            <button class="btn btn-primary" (click)="saveTerm();" [disabled]="!editTermForm.form.valid">Save</button>
            <button class="btn btn-default" (click)="categoryDetailPanel.close()">Close</button>
        </md-action-row>
    </md-expansion-panel>

    <div class="margin-top-md">
        <table datatable [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
            <thead>
                <tr>
                    <th class="col-sm-4">Name</th>
                    <th class="col-sm-4">Description</th>
                    <th class="col-sm-4">Relation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let relatedTerm of Term.RelatedTerms">
                    <td class="clickable" title="Go to term page." (click)="gotoRelatedTerm(relatedTerm)">{{relatedTerm.TermName}}</td>
                    <td class="clickable" title="Go to term page." (click)="gotoRelatedTerm(relatedTerm)">{{relatedTerm.TermDescription}}</td>
                    <td class="clickable" title="Go to term page." (click)="gotoRelatedTerm(relatedTerm)">{{(relatedTerm.TermType | termType: TermTypes)}}</td>
                    <td>
                        <button class="btn btn-danger btn-circle glyphicon glyphicon-trash" (click)="deleteRelationTerm(relatedTerm)" title="Delete relation"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- ADD RELATED TERM MODAL -->
<dp-related-term-modal #relatedTermModal (termRelationChange)="getTerm()"></dp-related-term-modal>

<!-- EDIT TERM MODAL -->
<dp-term-modal #termModal (termChange)="getTerm()"></dp-term-modal>

<!-- TARGET COLUMN LINK MODAL -->
<dp-target-link-modal #termLinkModal (linkAdded)=getTerm();></dp-target-link-modal>