<!-- Modal used to add or edit a source table -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <div *ngIf="SourceTable.Id >= 0; then editTitle else addTitle"></div>
                <ng-template #addTitle>
                    <h4 class="modal-title">Add Source Table</h4>
                </ng-template>
                <ng-template #editTitle>
                    <h4 class="modal-title">Edit Source Table</h4>
                </ng-template>
            </div>
            <div class="modal-body">
                <form name="dp-add-st-form" #addSourceTableForm="ngForm">
                    <div *ngIf="FromFile">
                        <div class="full-width">
                            <input id="fileFormInput" type="file" name="localFilePath" accept="text/plain,text/csv" required (change)="fileUploaded($event)">
                        </div>
                        <br>
                        <md-select class="half-width" id="typeFormInput" placeholder="Type" name="FileType" required [(ngModel)]="SourceTable.FileType">
                            <md-option (click)="addSourceTableForm.form.controls.FileType.reset()" [value]="">Select a File Type</md-option>
                            <md-option value="csv">CSV</md-option>
                            <md-option value="txt">Text</md-option>
                        </md-select>
                        <md-checkbox class="half-width" id="headerFormInput" title="First line of file is header or not" type="checkbox" name="firstLineHeader"
                            [checked]="SourceTable.FirstLineHeader == 1" (change)="toggleHeader()" [disabled]="!SourceTable.FileType || SourceTable.FileType == 'database' || SourceTable.FileType == 'api'">First Line Header
                        </md-checkbox>
                        <br>
                        <md-input-container class="half-width">
                            <input mdInput title="Example: , or |" type="text" placeholder="Delimiter" name="fileDelimiter" maxlength="1" [disabled]="!SourceTable.FileType || SourceTable.FileType == 'database' || SourceTable.FileType == 'api'"
                                [(ngModel)]="SourceTable.FileDelimiter">
                        </md-input-container>
                        <md-input-container class="half-width">
                            <input mdInput title="Example: &quot; or /" type="text" placeholder="Text Qualifier" name="textQualifier" maxlength="1" [disabled]="!SourceTable.FileType || SourceTable.FileType == 'database' || SourceTable.FileType == 'api'"
                                [(ngModel)]="SourceTable.TextQualifier">
                        </md-input-container>
                        <br>
                    </div>
                    <md-input-container class="third-width" *ngIf="SourceTable.Id >= 0">
                        <input mdInput type="number" placeholder="Id" name="id" required [(ngModel)]="SourceTable.Id" disabled>
                    </md-input-container>
                    <md-input-container class="third-width" *ngIf="SourceTable.SourceSystemId >= 0">
                        <input mdInput type="number" placeholder="Source System Id" name="ssId" required [(ngModel)]="SourceTable.SourceSystemId"
                            disabled>
                    </md-input-container>
                    <md-input-container class="third-width" *ngIf="SourceTable.Id >= 0;">
                        <input mdInput type="text" placeholder="Table Prefix" name="tablePrefix" [(ngModel)]="SourceTable.TablePrefix">
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input id="nameFormInput" mdInput type="text" placeholder="Database Name" name="dbName" required [(ngModel)]="SourceTable.DatabaseName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Schema Name" name="schemaName" required [(ngModel)]="SourceTable.SchemaName">
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Friendly Name" name="friendlyName" required [(ngModel)]="SourceTable.FriendlyName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Tablespace Name" name="tablespaceName" [(ngModel)]="SourceTable.TablespaceName">
                    </md-input-container>
                    <br>
                    <md-input-container class="half-width" *ngIf="SourceTable.Id >= 0 && !FromFile">
                        <input mdInput type="number" placeholder="Num Row Stats" name="numRowStats" [(ngModel)]="SourceTable.NumRowStats" disabled>
                    </md-input-container>
                    <md-input-container class="half-width" *ngIf="SourceTable.Id >= 0 && !FromFile">
                        <input mdInput type="number" placeholder="Num Row Select" name="numRowSelect" [(ngModel)]="SourceTable.NumRowSelect" disabled>
                    </md-input-container>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="hide(); saveTable(SourceTable);" [disabled]="!addSourceTableForm.form.valid">Save</button>
                <button class="btn btn-default" (click)="hide();">Cancel</button>
            </div>
        </div>
    </div>
</div>