/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

body, html {
  height: 100%;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-top-md {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}
.margin-thin-bottom {
    margin-bottom: 5px;
}

.hr_custom {
    margin-top: 0px;
    margin-bottom: 0px; 
     border: 0;
     border-top: 2px solid #999999;
    
}


.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.inline-block {
    display: inline-block;
}

.center-text {
    text-align: center;
}

.large-text {
    font-size: 3em;
}

ul.inline-menu {
    padding: 0;
}

ul.inline-menu li {
    display: inline;
}

ul.inline-menu li div {
    text-decoration: none;
}

.clickable-row {
    cursor: pointer;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.btn-borderless {
    border: none;
    background-color: transparent;
}

.edw-icon {
    width: 125px;
    height: 125px;
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edw-icon:hover {
    text-decoration: none;
}

.large-data-table {
    font-size: .80em;
}

#lineageContainer ul {
    position: relative;
}

.btn.btn-info {
    position: relative;
}

#lineageContainer span.badge {
    float: right;
}

.standardWidth {
    width: 75%;
    left: auto;
    right: auto;
    position: relative;
}

.pages {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.lineageSchema ul li {
    padding: 0;
    margin-left: 30px;
    font-weight: normal;
}

.lineageSchema ul li label {
    font-weight: normal;
}

.lineageSchema ul li a {
    font-weight: normal;
    padding: 2px 0;
}

#lineageContainer ul li:not(.no_child):before {
    content: '+';
    display: inline-block;
    position: absolute;
    left: 3px;
    font-weight: bold;
    top: -2px;
    font-size: 1.3em;
}

#lineageContainer ul li.expanded:not(.no_child):before {
    content: '-' !important;
}

#lineageContainer .sourceColumn {
    margin-bottom: 5px;
    padding: 0px 10px 0 5px;
}

#lineageContainer label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: -4px;
    padding: 0px 10px 0 17px;
}

#lineageContainer .sourceColumn {
    height: 30px;
    line-height: 30px;
    margin-top: -4px;
}

#lineageContainer label:hover {
    cursor: pointer;
}

#lineageContainer label:hover,
#lineageContainer .sourceColumn:hover {
    background: rgba(230, 230, 230, 0.8);
}

.lineageSchema>li>label {
    font-size: 1.2em;
}

.lineageSchema .badge {
    margin-top: 6px;
}

.nav-tabs > li > a {
	cursor: pointer;
}

.treeContainer ul li label:not(.no_child):before {
    content: '+';
    display: inline-block;
    position: absolute;
    left: 3px;
    font-weight: bold;
    top: -2px;
    font-size: 1.3em;
}

.treeContainer ul li label.expanded:not(.no_child):before {
    content: '-' !important;
}

.treeContainer label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: -2px;
    margin-bottom: 0px;
    padding: 0px 10px 0 17px;
}

.treeContainer label:hover {
    cursor: pointer;
    background: rgba(230, 230, 230, 0.8);
}

li.treeRoot label {
    font-weight: bold;
    font-size: 1.2em;
}

li.treeChild {
    padding: 0;
    margin-left: 30px;
}

li.treeChild label {
    font-weight: normal;
}

li.treeChild input {
    width: auto;
}

@media (min-width: 768px) {
    .form-control.override-form-inline {
        width: 100%;
    }
}

.form>.lineage-form-group,
.lineage-form-group>.col-sm-12,
.lineage-form-group>.col-sm-8,
.lineage-form-group>.col-sm-4 {
    padding-right: 0;
    padding-left: 0;
}

.hide {
    display: none;
}

.wide-modal{
    min-width: 80%;
    width: calc(100vw - 300px);
    min-height: 80%;
}

#schemaModal{
    width: 80%;
    min-height: 80%;
}

#addSchemaModal{
    min-height: 80%;
}

dp-sqlconfigurator .modal-dialog{
    min-width: 80%;
}

dp-column-lineage-editor .modal-dialog{
    min-width: 80%;
}

dp-job-editor-modal .modal-dialog{
    min-width: 80%;
}

.modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

 tbody#targetColumns>tr{
    display:block;
    border-top: 1px solid lightgray;
    border-collapse: separate;
}


div#sourceTableJoins .modal-dialog {
    min-width: 80%;
}

div#columnLineageModelEdit .modal-dialog {
    min-width: 80%;
}

dp-modal .modal-dialog{
    min-width: 80%;
}

.loadinggif {
    background: #fff url(http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif) no-repeat 99% center;
}

input.table_input {
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #cccccc;
    vertical-align: middle;
}

.filter_container input {
    width: 300px;
}

.filter_container {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

.mappingContainer {
    position: relative;
    height: 500px;
    overflow-y: auto;
}

.calcBox {
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    top: auto;
    bottom: auto;
}

.lineageColumns {
    overflow-y: auto;
    height: 450px;
}

/* Loading CSS */

.loading-bg {
    position: fixed;
    z-index: 3000;
    width: 100%;
    height: 100%;
    background: rgba(95, 96, 98, 0.84);
    text-align: center;
    padding-top: 15%;
    color: white;
    top: 0;
    /*    margin-top: -2em;*/
    transition: all .5s;
}

.loading-bg p {
    font-size: 1.2em;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.disable-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.success-snackbar {
    background-color: #3c763d !important;
    display: block;
    margin: auto;
    position: fixed;
    bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    z-index: 9999;
}

.failure-snackbar {
    background-color: #a94442 !important;
    display: block;
    margin: auto;
    position: fixed;
    bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    z-index: 9999;
}

.default-snackbar {
    background-color: #286090 !important;
    display: block;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    z-index: 9999;
}

/* Needed for snackbar bc angular material snack bar produces this which is meant to be hidden as transparent
but currently doesn't, if it is fixed in future this can be removed */
.cdk-visually-hidden {
    color: transparent !important;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/icomoon.eot?nb2fcd');
    src:  url('./assets/fonts/icomoon.eot?nb2fcd#iefix') format('embedded-opentype'),
        url('./assets/fonts/icomoon.ttf?nb2fcd') format('truetype'),
        url('./assets/fonts/icomoon.woff?nb2fcd') format('woff'),
        url('./assets/fonts/icomoon.svg?nb2fcd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-database:before {
    content: '\e964';
}
.icon-checkbox-checked:before {
    content: '\ea52';
}
.icon-checkbox-unchecked:before {
    content: '\ea53';
}
.icon-table2:before {
    content: '\ea71';
}

td {
    vertical-align: middle !important;
}

.vertical-end {
    display: flex;
    align-items: end;
}

.vertical-end {
    display: flex;
    align-items: center;
}

.horizontal-center {
    text-align: center;
}

/*loading gif*/
@keyframes lds-eclipse {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 0 0 #030303;
    -webkit-transform-origin: 80px 84px;
    transform-origin: 80px 84px;
}

.lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* Needed for md-select to show on modal dialog */
.cdk-overlay-container, .cdk-global-overlay-wrapper {
	z-index: 9999 !important;
}

.full-width {
    width: 94%;
    padding: 10px;
}

.half-width {
    width: 46%;
    padding: 10px;
}

.third-width {
    width: 30%;
    padding: 10px;
}

.panel-body.fixed-height {
    max-height: 160px; 
    overflow-y: scroll;
}

.relative-text {
	position: relative;
	top: 20px;
	left: 18px;
}

.relative-btn {
    position: relative;
    top: 10px;
    left: 10px;
}

.source-select-width {
    width: 40%; 
    padding: 10px;
}

.column-row-header {
    min-width: 15%; 
    float: left !important;
}

.column-row-footer {
    min-width: 80%; 
    float: right !important;
}

.clickable {
    cursor: pointer;
}

.panel-header-row {
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px 8px 16px 24px;
}

.panel-header-row span {
    margin-left: 5px;
}