<!-- Modal used see detail of schema chosen -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div id="schemaModal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide();">&times;</button>
                <h4 class="modal-title">Schema Detail: {{ Schema.SchemaName }}</h4>
            </div>

            <div class="modal-body">
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Schema Details
                        </md-panel-title>
                    </md-expansion-panel-header>

                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Id" name="Id" disabled [(ngModel)]="Schema.Id">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Schema Name" name="SchemaName" disabled [(ngModel)]="Schema.SchemaName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="Login User Name" name="LoginUserName" disabled [(ngModel)]="Schema.LoginUserName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="DataBase Host Name" name="DBHostName" disabled [(ngModel)]="Schema.DBHostName">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="DataBase Provider" name="DBProvider" disabled [(ngModel)]="Schema.DBProvider">
                    </md-input-container>
                    <md-input-container class="half-width">
                        <input mdInput type="text" placeholder="DataBase Type" name="DBType" disabled [(ngModel)]="Schema.DBType">
                    </md-input-container>
                </md-expansion-panel>

                <div class="margin-top-md">
                    <table datatable id="detail{{Schema.SchemaName}}" dt-instance="dtInstance" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table table-hover hover">
                        <thead>
                            <tr>
                                <th class="col-sm-4">Id</th>
                                <th class="col-md-8">Table Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Goes to lineage editor page for selected table -->
                            <!-- <tr class="clickable-row" title="Click to go to column lineage" *ngFor="let table of Tables" [routerLink]="['table/', table.Id]" routerLinkActive="true"> -->
                                <tr class="clickable-row" title="Click to go to table lineage" *ngFor="let table of Tables" (click)="gotoTable(table)">
                                    <td>{{ table.Id }}</td>
                                    <td>{{ table.DatabaseName }}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>