<div class="mappingContainer">
    <div class="col-xl-12">

        <!-- <div class="col-md-4">
            <md-tab-group>
                <md-tab label="Lineage Columns">
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li *ngFor="let table of tableLineages">
                                <label [ngClass]="{'expanded': table.lineage}" (click)="toggleTree('tableLineage', table)">
                                    <span class="margin-left margin-right-sm"></span>{{table.SourceTable.FriendlyName}}
                                </label>
                                <ul class="nav nav-list tree" *ngIf="table.lineage">
                                    <li class="treeChild" *ngFor="let tableColumn of table.SourceTable.SourceColumns">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': tableColumn.Id, 'Name': '['+table.SourceTable.FriendlyName+'].['+tableColumn.FriendlyName1+']', 'Type': 'column'})">
                                            <span class="margin-left margin-right-sm"></span>{{tableColumn.FriendlyName1}}
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </md-tab>
                <md-tab label="Calculations">
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showOperators }" (click)="toggleTree('operators')">
                                    <span class="margin-left margin-right-sm"></span>Operators
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showOperators">
                                    <li class="treeChild">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': '(',  'Name': '(', 'Type': 'op'})">
                                        <span class="margin-left margin-right-sm"></span>(
                                    </label>
                                    </li>
                                    <li class="treeChild">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': ')',  'Name': ')', 'Type': 'op'})">
                                        <span class="margin-left margin-right-sm"></span>)
                                    </label>
                                    </li>
                                    <li class="treeChild">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': '+',  'Name': '+', 'Type': 'op'})">
                                        <span class="margin-left margin-right-sm"></span>+
                                    </label>
                                    </li>
                                    <li class="treeChild">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': '-',  'Name': '-', 'Type': 'op'})">
                                        <span class="margin-left margin-right-sm"></span>-
                                    </label>
                                    </li>
                                    <li class="treeChild">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': '*',  'Name': '*', 'Type': 'op'})">
                                        <span class="margin-left margin-right-sm"></span>*
                                    </label>
                                    </li>
                                    <li class="treeChild">
                                        <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': '/',  'Name': '/', 'Type': 'op'})">
                                        <span class="margin-left margin-right-sm"></span>÷
                                    </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="treeContainer">
                        <ul class="nav nav-list">
                            <li class="treeRoot">
                                <label [ngClass]="{ 'expanded': showConstants }" (click)="toggleTree('constants')">
                                    <span class="margin-left margin-right-sm"></span>Constants
                                </label>
                                <ul class="nav nav-list tree" *ngIf="showConstants">
                                    <li class="treeChild col-lg-12">
                                        <label class="tree-toggle nav-header disable-user-select col-xs-2" style="width: 0" (click)="addToCalc({'Id': calcNumeric, 'Name': calcNumeric, 'Type': 'const'})">
                                            <span class="margin-left margin-right-sm"></span>
                                        </label>
                                        <input class="col-lg-10" type="number" class="form-control inputListItem" [(ngModel)]="calcNumeric" placeholder="Numeric">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </md-tab>
            </md-tab-group>
        </div> -->

        <div *ngIf="!tableLineages" class="col-xl-12" style="text-align: center">
            There are no numeric table lineages.
        </div>

        <div *ngIf="tableLineages" class="col-md-4">
            <div class="treeContainer">
                <ul class="nav nav-list">
                    <li *ngFor="let table of tableLineages">
                        <label [ngClass]="{'expanded': table.lineage}" (click)="toggleTree(table)">
                            <span class="margin-left margin-right-sm"></span>{{table.SourceTable.FriendlyName}}
                        </label>
                        <ul class="nav nav-list tree" *ngIf="table.lineage">
                            <li class="treeChild" *ngFor="let tableColumn of table.SourceTable.SourceColumns">
                                <label class="tree-toggle nav-header disable-user-select" (click)="addToCalc({'Id': tableColumn.Id, 'Name': '['+table.SourceTable.FriendlyName+'].['+tableColumn.FriendlyName1+']', 'Type': 'column'})">
                                    <span class="margin-left margin-right-sm"></span>{{tableColumn.FriendlyName1}}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="tableLineages" class="col-lg-8">
            <button class="btn btn-default" type="button" (click)="addToCalc({'Id': '(',  'Name': '(', 'Type': 'op'})">(</button>
            <button class="btn btn-default" type="button" (click)="addToCalc({'Id': ')',  'Name': ')', 'Type': 'op'})">)</button>
            <button class="btn btn-default" type="button" (click)="addToCalc({'Id': '+',  'Name': '+', 'Type': 'op'})">+</button>
            <button class="btn btn-default" type="button" (click)="addToCalc({'Id': '-', 'Name': '-', 'Type': 'op'})">-</button>
            <button class="btn btn-default" type="button" (click)="addToCalc({'Id': '*', 'Name': '*', 'Type': 'op'})">*</button>
            <button class="btn btn-default" type="button" (click)="addToCalc({'Id': '/', 'Name': '/', 'Type': 'op'})">÷</button>
            <md-input-container>
                <input mdInput type="number" placeholder="Numeric" (keypress)="inputNumeric($event)" [(ngModel)]="calcNumeric" ng-pattern="/^\d+$/">
            </md-input-container>

            <button class="btn btn-default btn-align-right" type="button" (click)="deleteSelected()">Delete</button>
            <button class="btn btn-default btn-align-right" type="button" (click)="clearAll()">Clear</button>

            <div class="col-lg-12" class="container calcBox">
                <div *ngIf="calculation.length > 0;then calculationsBox else emptyMessage"></div>
                <ng-template #calculationsBox>
                    <div dnd-sortable-container [sortableData]="calculation" class="btn-group">
                        <button *ngFor="let calc of calculation; let i = index" dnd-sortable [sortableIndex]="i" class="btn btn-info" (click)="setCalcIndex(i)"
                            [ngClass]="{'active': i == calcIndex}">{{calc.Name}}</button>
                    </div>
                </ng-template>
                <ng-template #emptyMessage>
                    <div style="text-align: center">Choose a column or calculation to begin.</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>